@charset "utf-8";
.ir-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* 라디오박스 */
.radio-box {
    display: flex;
    align-items: center;
    gap: 16px;
}
.radio-box label+label{margin-left:10px;}
.radio-box label {
    display: flex;
    align-items: center;
    gap: 8px; 
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
}
.radio-box input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #F4F7FB;    
    border: 1px solid #D8DDE9;    
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    opacity: 1;
    margin-right:0;
}
.radio-box input[type="radio"]:checked {
    background-color: #F4F7FB;    
    border: 1px solid #D8DDE9;
}.radio-box input[type="radio"]:checked+span::before {
    content: '';
    display: block;
    background-color: #706DF0;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
    gap: 0px;
    border-radius: 12px;
    z-index: 8;
}
.radio-box input[type="radio"]:disabled {
    background-color: var(--color-basic2);
    box-shadow: 0 0 0 2px #e8e8e8 inset;
    cursor: not-allowed;
}
/* // INPUT */
.form-element__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.form-element__wrap .error-msg {
    margin-top: 3px;
    color:#FF8B4A;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
}
.form-element__wrap .input-multi {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.form-element__wrap .input-multi .form-element__inner.input-type {
    flex: 1;
}
.form-element__wrap .input-multi .input-unit {
    width: fit-content;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #222;
}
.form-element__wrap .input-multi .input-text-count {
    width: 65px;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #222;
    text-align: right;
}
.form-element__wrap .input-multi .input-text-count .current {
    color: #FF8B4A;
}
.form-element__wrap.multiline {
    flex-direction: row;
}
.form-element__wrap.txtarea_wrap {
    gap: 0;
}
.form-element__wrap .form-element__inner {
    width: 100%;
    height: 48px;
    border: 1px solid #E1E3E9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.form-element__wrap .form-element__inner input {
    width: 100%;
    border: 0;
    outline: 0;
    height: 80%;
    color: #222222;
    background-color: transparent;
}
.form-element__wrap .form-element__inner input::placeholder {
    color: #717B8A;
}
.form-element__wrap .form-element__inner input:disabled {
    color: #757575;
    opacity: 0.5;
}
.form-element__inner.text-area {height: 104px;padding: 0;}
.form-element__wrap .text-area {
    padding: 16px;
    align-items: normal;
    flex-direction: column;
}
.form-element__wrap .form-element__inner textarea {
    width: 100%;
    border: 0;
    height: 100%;
    color: var(--color-basic10);
    resize: none;
    font-family: var(--fontMain);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.form-element__inner.text-area textarea {
    padding: 0;
    font-size: 16px;
    border-radius: 0;
}

.document-title {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;    
}

.btn.ico_pencil span {    
    background: url(../img/pc/ico/ico_pencil.png) no-repeat 0 center;
    background-size: contain;
}
.button__wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}
.button__wrap .left-button,
.button__wrap .right-button {
    display: flex;
    align-items: center;
    gap: 16px;
}
.button__wrap.flex-end {
    justify-content: flex-end;
}
.button__wrap.justify-between {
    justify-content: space-between;
}
.btn-gra-sm {
    color: #222222;
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-align: center;
    background: #D8DDE9;
    border-radius: 8px;
    border: 0;
    height: 32px;    
    padding: 0px 8px;
}
.btn-gray-default {
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #AEB7C6;
    background: #F9F9FB;
    border-radius: 12px;
    color:#494E56;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.btn-gray-default i {
    width:24px;
    height: 24px;
    display: inline-flex;
}
.btn-gray-default i::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_cancel_book.png') no-repeat;
    background-size: contain;
}
.btn-gray-default i.ico-remove::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_btn_cancel.png') no-repeat;
    background-size: contain;
}
.btn-gray-default i.ico-delete::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/icon_remove.png') no-repeat;
    background-size: contain;
}
.btn-gray-default i.ico-save::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_btn_save.png') no-repeat;
    background-size: contain;
}
.btn-gray-default.wd-108 {
    width: 108px;
}
.btn-primary-default {
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #706DF0;
    background-color: #706DF0;
    border-radius: 12px;
    color:#fff;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.btn-primary-default.wd-108 {
    width: 108px;
}
.btn-primary-default i {
    width: 15px;
    height: 11px;
    display: inline-flex;
}
.btn-primary-default i::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_check_wt.png') no-repeat;
    background-size: contain;
}
.btn-line-return {
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #AEB7C6;
    background-color: #fff;
    border-radius: 12px;
    color:#494E56;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.btn-line-return i {
    width: 24px;
    height: 24px;
    display: inline-flex;
}
.btn-line-return i::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_check_05_2x.png') no-repeat;
    background-size: contain;
}
.btn-gray-default i::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/ico_list.png') no-repeat;
    background-size: contain;
}
.btn_cancel.bg-gray {background: #F9F9FB}
.btn_cancel.bg-gray span{background:  url(../img/pc/ico/ico_btn_cancel.png) no-repeat 0 center;background-size:24px auto;}
.btn_cancel_approval span{background:url(../img/mo/ico/icon_cancel_confirm.png) no-repeat 0 center;background-size:18px auto;padding-left: 25px;}
.btn.btn_list span {
    background: url(../img/pc/ico/ico_list.png) no-repeat 0 center;
    background-size: 15px auto;
}
.icon-file {
    width:20px;
    height:20px;
    display: inline-flex;
}
.icon-file::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/icon_file.png') no-repeat;
    background-size: contain;
}
.ico-minus {
    width:20px;
    height:20px;
    display: inline-flex;
}
.ico-minus::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/icon_minus.png') no-repeat;
    background-size: contain;
}
.ico-plus {
    width:20px;
    height:20px;
    display: inline-flex;
}
.ico-plus::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/pc/ico/icon_plus.png') no-repeat;
    background-size: contain;
}
.btn-border-gray {
    border: 1px solid #D8DDE9;
    background-color: #fff;
    min-width: 103px;
    height: 36px;
    padding: 8px 12px;
    gap: 4px;
    border-radius: 8px;
    display: flex;
    align-self: center;
}
.btn-dark-light {
    border: 1px solid #D8DDE9;
    background-color: #D8DDE9;
    color:#222;
    min-width: 63px;
    height: 36px;
    padding: 8px 12px;
    gap: 4px;
    border-radius: 8px;
    display: flex;
    align-self: center;  
}

.file-list {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.file-list li {
    position: relative;
}
.file-list li .file {
    position: absolute;
    left:0;
    top:0;
    width: 525px;
    opacity: 0;
}

.ui-datepicker-trigger {
    width: 24px;
}
.ui-widget.ui-widget-content {
    z-index: 20 !important;
}
/* //테이블 */

.table_cont .table-body-only {
    border-top: 1px solid #222;
}
.table-cont table.table-list thead tr th,
.table-cont table.table-list tbody tr td {
    height: 56px;
}
.table_cont .table-body-only tbody th {
    background: #F9F9FB;
    height: 72px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    vertical-align: middle;
    color:#222222;
    padding:0 12px;
    border-bottom: 1px solid #D8DDE9;
}
.table_cont .table-body-only tbody td {
    padding: 15px 16px;
    height: 72px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    vertical-align: middle;
    text-align: left;
    color:#222222;
    padding-left: 12px;
    cursor: default;
}
.table_cont .table-body-only tbody td input .noti_txt{}
.table_cont .table-body-only tbody td input {
    padding-left: 0;
    padding-right: 0;
}
.table-body-only.confirm-table tbody th.title-cell {
    color:#222;
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;    
    background-color: #F4F7FB;

}
.table-body-only.confirm-table tbody th,
.table-body-only.confirm-table tbody td {
    background-color: #F4F7FB;
}
.table-body-only.confirm-table tbody td .form-element__inner {
    background-color: #fff;
}
.inner-table-cont {
    border: 1px solid #D8DDE9;
    border-radius: 12px;
    overflow: hidden;
}
.table_cont .table-body-only tbody td.inner-table {
    padding: 25px 0;
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table thead tr th {
    height: 39px;
    vertical-align: middle;
    border-top: 0 !important;
    border-bottom: 1px solid #D8DDE9;
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    background-color: #fff;
    text-align: center;    
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table tbody tr td {
    height: 39px;
    vertical-align: middle;        
    border-right: 1px solid #D8DDE9;
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    background-color: #fff;
    text-align: center;    
    color: #717B8A;
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table tbody tr td.tit {
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #222;
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table tbody tr td.text-l {
    text-align: left;
    padding: 16px;
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table tbody tr td.no-line {
    border: 0 !important;
}
.table_cont .table-body-only tbody td.inner-table  .inner-table-cont table tbody tr:last-child td {
    border-bottom: 0 !important;
}
.table_cont table.table-list tbody tr td.text-l {
    text-align: left;
}

.table-fixed {
    table-layout: fixed;
}

/* 모달 */
.modal_new.roll-type{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_n_wrap.roll-modal {
    width: 960px;
    position: relative;
}
.modal_n_wrap.roll-modal .modal-header {
    background: #706DF0;
    height: 64px;
    color:#fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.modal_n_wrap.roll-modal .modal-header .tit {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.modal_n_wrap.roll-modal .modal_n_body {
    width: 100%;
    padding: 40px;
    background-color: #fff;
}
.modal_n_wrap.roll-modal .btn_close {
    width: 19px;
    height: 19px;
    background: url(../img/pc/ico/ico_close_x.png) no-repeat;
    background-size: contain;
    border: 0;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 10;
}
.table_cont table.table-list thead tr th {
    height: 56px;
}
.table_cont table tbody tr td.text-l {
    text-align: left;
}
.table_cont table tbody tr.highlight td {
    background-color: #FFF4ED;
}
.table_cont table tbody tr.highlight td a {
    color:#FF8B4A;
    font-weight: 500;
}
.pc-flex {
    display: flex;
}

.top_info_box.pc-flex {
    align-items: center;
    justify-content: space-between;
}
.top_info_box.pc-flex .left_cont {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.top_info_box.pc-flex .right_cont {    
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* 법령 */
.law-wrap {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.law-wrap .law-tree-menu {
    width: 224px;
    height: 986px;
    display: flex;
    flex-direction: column;    
}
.law-wrap .law-content {
    flex:1;
}
.law-wrap .law-content table.table-list tbody td {
    padding: 12px 5px;
}

.tree-menu-wrap {
    flex: 1;
    border: 1px solid #D8DDE9;
    border-top: 0;
    height: 938px;
    overflow-y: scroll;    
}
.tree-menu-wrap .tree-menu {
    padding: 16px;
    transition: all 0.3s;
    display: none;
}
.tree-menu-wrap .tree-menu.is-active {
    transition: all 0.3s;
    display: block;
}
.two-depth-list {
    margin-top: 18px;
    padding-left: 28px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.two-depth-list.is-active {
    height: auto;
    transition: all 0.3s;
}
.tree-depth-list {
    margin-left: 30px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.tree-depth-list.is-active {
    height: auto;
    padding: 8px 0;
    transition: all 0.3s;
}
.two-depth-button {
    font-size: 15px;
}
.two-depth-list li+li {
    margin-top: 8px;
}
.tree-depth-list li .haschildren {
    position: relative;
}
.tree-depth-list li .haschildren a,
.tree-depth-list li a {
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;    
    color:#717B8A;
}
.tree-depth-list li.is-active a {
    color: #706DF0
}
.tree-depth-list li+li {
    margin-top: 8px;
}
.depthmenu03  {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.depthmenu03.is-active {
    height: auto;
}
.depthmenu03 li a {
    font-family: 'Pretendard';
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;    
    color:#717B8A;
}
.depthmenu03 li+li {
    margin-top: 8px;
}
.tree-menu-wrap .tree-list .haschildren {
    color:#222;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: 5px;

}
.tree-menu-wrap .tree-list .haschildren button {
    border: 1px solid #E1E3E9;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    background: #fff;
    padding: 0;
}
.tree-menu-wrap .tree-list .haschildren button::before {
    content: '';
    width:10px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #AEB7C6;
    transform: translate(-50%, -50%);
} 
.tree-menu-wrap .tree-list .haschildren button::after {
    content: '';
    width:1px;
    height: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #AEB7C6;
    transform: translate(-50%, -50%);
}

.tree-menu-wrap .tree-list .haschildren button::after {
    content: '';
    width:1px;
    height: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #AEB7C6;
    transform: translate(-50%, -50%);
}
.tree-menu-wrap .tree-list .haschildren button.is-active::after {
    display: none;
}

.two-depth-button i {
    border: 1px solid #E1E3E9;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    background: #fff;
    padding: 0;
}
.two-depth-button i::before {
    content: '';
    width:10px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #AEB7C6;
    transform: translate(-50%, -50%);
}  
.two-depth-button i::after {
    content: '';
    width:1px;
    height: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #AEB7C6;
    transform: translate(-50%, -50%);
}
.two-depth-button.is-active i::after {
    display: none;
}
.tree-tab-head {
    height: 48px;
    display: flex;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    background-color: #F9F9FB;
}
.tree-tab-head .tab-menu {
    border: 0;
    border-bottom: 1px solid #D8DDE9;
    height: 100%;
    width: 50%;
    color: #494E56;    
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    background-color: transparent;
}
.tree-tab-head .tab-menu.is-active {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid #D8DDE9;
    border-bottom: 0;
}
.document-title-area {
    display: none;
}

.data-pick-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 768px) {
    .document-title-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .document-title-area .document-title-h16 {
        font-family: 'Pretendard';
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #222222;
    }
    .pc-flex {
        display: none;
    }
    .scroll-type {
        overflow-x: scroll;
    }
    .table_cont.scroll-type table {
        table-layout: fixed;
    }
    .table_cont .table-body-only tbody td.inner-table .inner-table-cont table tbody tr td {
        word-break: break-word;
        line-height: 19px;
    }
    .modal_n_wrap.roll-modal {
        width: 90vw;
        position: relative;
    }
    .modal_n_wrap.roll-modal .modal_n_body {
        max-height: 60vh;
        overflow-y: scroll;
        padding: 24px 20px 32px;
    }
    .modal_n_wrap.roll-modal .modal-header  {
        padding: 0 20px;
    }
    .modal_n_wrap.roll-modal .modal-header .tit {        
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
    .table_cont table.table-list thead tr th {
        height: 40px;
    }
    .table_cont table.table-list.no-line thead tr th,
    .table_cont table.table-list.no-line tbody tr td {
        border-left: 0;
        border-right: 0;
    }
        
    table thead th {
        font-size: 14px;
    }
    table tbody td {
        font-size: 14px;
        line-height: 14px;
        padding: 9px 8px;
    }

    .table_cont.rount-type-sm {
        padding-bottom: 16px;
        border: 0;
        border-bottom: 1px solid #D8DDE9;
    }
    .table_cont.rount-type-sm .table-body-only {
        border-radius: 12px;
        border: 1px solid #D8DDE9;
        overflow: hidden;
        border-collapse: separate;
    }
    .table_cont.rount-type-sm tbody th,
    .table_cont.rount-type-sm tbody td {
        height: 39px;
        padding: 13px 16px;
        font-family: 'Pretendard';
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: -0.02em;
    }
    .table_cont.rount-type-sm tbody td.notice-text {
        color:#FF5858;
    }
    .table_cont.rount-type-sm tbody tr:last-child th,
    .table_cont.rount-type-sm tbody tr:last-child td {
        border-bottom: 0;
    }
    .table_cont.rount-type-sm tbody tr th.color-light,
    .table_cont.rount-type-sm tbody tr td.color-light {
        color: #717B8A;
    }

    .button__wrap {
        gap: 12px;
    }
    .btn-gray-default,
    .btn-primary-default {
        height: 48px;        
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.02em;
    }
    .btn-gray-default i {
        width: 20px;
        height: 20px;
    }
    .btn_primary-default {
        background: #706DF0;      
        height: 64px;
        padding: 0px 24px;
        border-top-right-radius: 12px;        
    }
    .btn_primary-default span {
        color:#fff;        
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.02em;  
        background: url('../img/pc/ico/ico_check_wt.png') no-repeat 0 center;
        background-size: 19px auto;         
    }

    /* 법령 */
    .law-wrap {
        display: block;
        gap: 0px;
        overflow: hidden;
    }
    .law-wrap .law-tree-menu {
        display: none;
    }
    .law-wrap .law-content {
        flex:1;
    }
    .table-body-only.confirm-table {
        border-bottom: 1px solid #D8DDE9;
    }
    .table-body-only.confirm-table tbody th, 
    .table-body-only.confirm-table tbody td {
        border: 0;
        height: 52px;
        padding: 4px 16px;
    }
    .table-body-only.confirm-table tbody th.last, 
    .table-body-only.confirm-table tbody td.last {
        padding-bottom: 25px;
    }
    .table-body-only.confirm-table tbody th.title-cell {
        border-top: 1px solid #D8DDE9;
    }
    .table_cont .table-body-only.no-line-type tbody th,
    .table_cont .table-body-only.no-line-type tbody td {
        border-left:0;
        border-right:0;
        background-color: #fff;
        padding: 12px 16px;
    }

}

.document-title-ft18 {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.notice-text {
    margin-top: 5px;    
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    
    color:#717B8A;   
}
.history-option {
    margin-top: 20px;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    color:#222;
}
.history-option .radio-box label span {
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    color:#222;
}

.edit-wrap {
    width: 100%;
    height: 480px;
}
.flex-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* margin padding */
.mt-8 {margin-top: 8px;}
.mt-16 {margin-top: 16px;}
.mt-32 {margin-top: 32px;}
.mt-64 {margin-top: 64px;}

.float-r {float:right !important;}

.btn.ico_penci-bl span{
    background:url(../img/pc/ico/ico_pencil.png) no-repeat 0 center;
    background-size: 24px auto;
    height: 57px;
}

.btn_delete span {
    background:#fff url(../img/pc/ico/icon_remove.png) no-repeat 0 center;
    background-size: 19px;
}

.btn_save span {
    background: url('../img/pc/ico/ico_btn_save.png') no-repeat;
    background-size: 20px;
}