@charset "utf-8";
@import url('common_01.css');
@import url('common_02.css');

@import url('reset.css');
/* @import url('swiper.min.css'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900|Roboto:400,500,700&display=swap'); */

/* font */
body{font-family:'Pretendard','Noto Sans KR',Dotum,sans-serif;font-size:14px;color:#666;line-height:19px;font-weight:400;}

/* Pretendard */
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 300;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Light.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Light.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 500;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Regular.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 600;
	src: local("Pretendard-SemiBold"),
		url("../font/Pretendard-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-SemiBold.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}