@charset "utf-8";

/* //icon  */
.btn.ico_upload span {
    display: flex;
    align-items: center;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
}
.btn.ico_upload span::before {
    content: '';
    display: inline-flex;
    width:20px;
    height:20px;
    background: url('../imgs/icon/icon_upload_green.png') no-repeat;
    background-size: contain;
}