@charset "utf-8";

/* guide */
.guide_tit{color:red;font-size:30px;line-height:30px;font-weight:600;}

/* 레이어팝업 */
.modal_new {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  background: #000000aa;
  transition: all linear 0.1s;
}

.modal_new .modal_n_wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modal_new .modal_n_body {
  margin: auto;
  text-align: left;
  display: inline-block;
}

.modal_new .modal_n_header {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}

.modal_new .modal_n_header h1 {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background-color: red;
}

.modal_new .modal_n_cont {
  position: relative;
  max-height: 75vh;
  overflow-y: auto;
  background: #fff;
}

.modal_new .modal_n_footer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
}

.modal_new .modal_n_footer button {
  padding: 0 10px;
  min-width: 90px;
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  background: #ddd;
  border: 1px solid #aaa
}

.modal_new .modal_n_footer button:hover {
  background: #ccc;
}

.modal-open {
  overflow: hidden;
}

.modal_on {
  visibility: visible !important;
  opacity: 1 !important;
}

.modal-400 {
  width: 400px !important;
}

.modal-500 {
  width: 500px !important;
}

.modal-600 {
  width: 600px !important;
}

.modal-700 {
  width: 700px !important;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* 팝업 */
.pop_cont {
  position: relative;
  background: #fff;
}

/* global class */
.blind{position:absolute;top:-9999px;overflow:hidden;width:0;height:0;padding:0;line-height:0}
.swiper-button-next, .swiper-button-prev{width:auto;height:auto;background-image: none;}
.swiper-button-next:after, .swiper-button-prev:after{display:none;}

/* title */
h2{font-size:20px; font-weight:700; color:#090909; margin-bottom:15px;}
h2 span{font-size:13px; font-weight:400; color:#757575; margin-left:15px;} 
h3 {position:relative; font-size:20px; color:#000; margin-bottom:15px;} 
h3 .right{float:right; color:#000; font-size:14px; margin-top:5px;}
em{ color:#ff5a63;}

/* none */
.bg_none{background:none !important}
.pad_none{padding:0 !important}
.mar_none{margin:0 !important}
.bor_none{border:0 none !important}
.over_h{overflow:hidden !important}
/* align */
.txt_left{text-align:left !important}
.txt_center{text-align:center !important}
.txt_right{text-align:right !important}
/* float */
.floatL{float:left !important}
.floatR{float:right !important}
.float_a{display:block !important;float:left !important}
.list_float{overflow:hidden !important}
.list_float li{float:left !important}

/* font */
.roboto {font-family:'Roboto', sans-serif;}
.size12 {font-size:12px;}
.line14 {line-height:14px;}
/* color */
.red{color:#ff5a63 !important;}
.black {color:#000 !important}
.blk{color:#2b2b2b !important}
.g88{color:#888 !important}
.pur{color:#4250b9 !important}
.orange {color:#ffa500 !important}
.fcpoint1 {color:#ff5a63 !important}
.fcpoint2 {color:#059ad9 !important}
.fcpoint3 {color:#0072bc !important}


/* 버튼 */
.buttonwrap {margin-top:30px;text-align:center;}
.buttonwrap .buttons {display:inline-block;vertical-align:top;height:50px;border-radius:10px;background-color:#0072bc;border:solid 1px #0072bc;font-size:16px;color:#fff;text-align:center;line-height:48px;margin:0 8px;box-sizing:border-box;}
.buttonwrap .buttons.wide {width:100%;margin:0;}
.buttonwrap .buttons.pbor {background-color:#fff;color:#0072bc;}
.buttonwrap .buttons.medium {width:180px;height:54px;line-height:54px;font-size:18px;}
.buttonwrap .buttons.big {width:245px;height:68px;line-height:68px;font-size:22px;}
.buttonwrap .buttons.w286 {width:286px;}
.buttonwrap.cols2 {overflow:hidden;}
.buttonwrap.cols2 .buttons {float:left;width:calc(50% - 5px);display:block;margin:0;}
.buttonwrap.cols2 .buttons:last-child {float:right;}

.btn{height:50px; line-height:50px; padding:0 70px; text-align:center; display:inline-block; font-size:18px; color:#fff; font-weight:700; vertical-align:middle;}
.btn:hover{color:#fff;}
.btn_pink{background-color:#ff5963 !important;}
.btn_black{background-color:#000 !important;}
.btn_gray{background-color:#aab2bd !important;}
.btn_sky{background-color:#4fc1e9 !important;}
.btn_red{background-color:#da4453 !important;}
.btn_green{background-color:#48cfad !important;}

.btn_input{height:38px; line-height:38px; padding:0 50px; font-size:16px; font-weight:400; background-color:#434a54;}
.btn.full {width:100%; padding:0;}
.btn.btn_s{padding:0 10px; }
.btn.btn_m{padding:0 20px; }
.btn_con{position:relative; margin-top:40px; text-align: center;}
.btn.btn_xs{font-size:12px; padding:5px 10px; height:auto; line-height:12px;}

.t_right {text-align:right !important;}
.t_left {text-align:left !important;}
.t_center {text-align:center !important;}


/* tab 
.tab {display: table; width:100%; height:60px;}
.tab>li {display: table-cell; position:relative; vertical-align:top;  }
.tab>li a, .tabContents .tab>li span{display:block; position:relative; height:52px; line-height:52px; margin-top:8px; color: #242424; font-size:15px;  text-align: center; border:1px solid #999; background:#fcfcfc; margin-left: -1px; transition:0.1s;}
.tab>li:first-child a{margin-left:0}
.tab.col_2>li{width:50%;}
.tab.col_3>li{width:33.333%;}
.tab.col_4>li{width:25%;}
.tab.col_5>li{width:20%;}
.tab.col_6>li{width:16.66%;}
.tab.col_8>li{width:12.5%;}
.tab>li a:hover, .tab>li a.on{margin-top:0; height:60px; line-height:60px; border-bottom:none; border-top:2px solid #ff5a63; color:#ff5a63; font-weight:700; transition:0.1s; background:#fff;}
.tab.pink>li a:hover, .tab.pink>li a.on{border-top:2px solid #ff5a63; color:#ff5a63; }
.tab.sky>li a:hover, .tab.sky>li a.on{border-top:2px solid #4fc1e9; color:#4fc1e9; }

.tab>li span.on{margin-top:0; height:60px; line-height:60px; border-bottom:none; border-top:2px solid #ff5a63; color:#ff5a63; font-weight:700; transition:0.1s; background:#fff;}
.tab.pink>li span.on{border-top:2px solid #ff5a63; color:#ff5a63; }
.tab.sky>li span.on{border-top:2px solid #4fc1e9; color:#4fc1e9; }

.tab.category{display:table; height:auto;}
.tab.category>li{display:block; float:left; min-width:20%;}
.tab.category>li a{height:50px; line-height:50px; margin:0; font-size:14px; border:1px solid #e0e0e0; background:#fff; margin:-1px 0 0 -1px;}
.tab.category>li a:hover, .tab.category>li a.on{height:50px; line-height:50px; background:#f6f7f8}
.tab.small>li a{font-size:13px;}
*/
.tabContents .tabContent{position:relative;}

/* ellipsis */
.ellipsis,.ellipsisList li{display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap}
/* 말줄임 */
.ellipsis { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ellipsis02 { display: block; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

/* margin */
.mt0{margin-top:0px !important}
.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}
.mt70{margin-top:70px !important}
.mt80{margin-top:80px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}

.mb0{margin-bottom:0px !important}
.mb10{margin-bottom:10px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb60{margin-bottom:60px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mb100{margin-bottom:100px !important}

/* padding */
.pt0{padding-top:0px !important}
.pt10{padding-top:10px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pt40{padding-top:40px !important}
.pt50{padding-top:50px !important}
.pt60{padding-top:60px !important}
.pt70{padding-top:70px !important}
.pt80{padding-top:80px !important}
.pt90{padding-top:90px !important}
.pt100{padding-top:100px !important}

.pb0{padding-bottom:0px !important}
.pb10{padding-bottom:10px !important}
.pb20{padding-bottom:20px !important}
.pb30{padding-bottom:30px !important}
.pb40{padding-bottom:40px !important}
.pb50{padding-bottom:50px !important}
.pb60{padding-bottom:60px !important}
.pb70{padding-bottom:70px !important}
.pb80{padding-bottom:80px !important}
.pb90{padding-bottom:90px !important}
.pb100{padding-bottom:100px !important}

/* input */
input{width:100%; height:40px; padding-left: 10px; line-height:38px; background: #fff; border:1px solid #dee1e7; box-sizing: border-box; color:#6a6a6a; border-radius:4px; margin:0;}
input::placeholder{color:#aab2bd;}
input::-ms-placeholder{color:#aab2bd;}

/*  */
/*  */
/*  */
/*  */

.input_type.radio input+.txt:before{content:'';position:absolute;top:0;left:0;display: inline-block;width:24px;height:24px;background:url(../img/common/pc/button/input_radio_off.png) 50% no-repeat;}
.input_type.radio input:checked+.txt:before{content:'';position:absolute;top:0;left:0;display: inline-block;width:24px;height:24px;background:url(../img/common/pc/button/input_radio_on.png) 50% no-repeat;}
.input_type.check input+.txt:before{content:'';position:absolute;top:0;left:0;display: inline-block;width:24px;height:24px;background:url(../img/common/pc/button/input_check_off.png) 50% no-repeat;}
.input_type.check input:checked+.txt:before{content:'';position:absolute;top:0;left:0;display: inline-block;width:24px;height:24px;background:url(../img/common/pc/button/input_check_on.png) 50% no-repeat;}
.input_type .txt{
position:relative;
  padding-left:30px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.64px;
  display: inline-block;
}

/*  */
/*  */
/*  */
/*  */


label.radio,
label.check{vertical-align:middle; display:inline-block; margin-right:10px;}
input[type=radio], input[type=checkbox]{position:absolute; width:16px; height:16px; margin-right:10px; cursor: pointer; opacity: 0; z-index:2; outline:none !important;padding:0;}
input.default{display:inline-block; position:relative; opacity:1; width:10px !important; height:10px; }
input[type="file"]{height:auto; line-height:auto; border:none;}
input[type="file"]::-webkit-file-upload-button { cursor:pointer; }

input[type=checkbox].checkbox+.label, input[type=radio].radio+.label{line-height:16px;  display:inline-block; vertical-align:middle;}
input[type=checkbox].checkbox+.label::before, input[type=radio].radio+.label::before {position:relative; display:inline-block; height:14px; width:14px; line-height:13px; margin-right:10px;  background-color:#fff;border:1px solid #ccc; border-radius:3px; content:''; vertical-align:top;}
input[type=radio].radio+.label::before{border-radius:11px;}

input[type=checkbox].checkbox:checked+.label:before,
input[type=radio].radio:checked+.label:before {background:#fff url(../imgs/icon/ico_check2.png) 0 0 no-repeat;}
input[type=checkbox].checkbox.sky:checked+.label:before,
input[type=radio].radio.sky:checked+.label:before {background:#fff url(../imgs/icon/ico_check2.png) 0 0 no-repeat;}

.type2 input[type=radio].radio+.label {line-height:19px;  display:inline-block; vertical-align:middle;}
.type2 input[type=radio].radio+.label::before {position:relative; display:inline-block; height:17px; width:17px; line-height:19px; margin-right:10px;  background-color:#fff;border:1px solid #ccc; border-radius:50%; content:''; vertical-align:top;}
.type2 input[type=radio].radio:checked+.label:before {border:solid 6px #059ad9;background:#fff;width:7px;height:7px;}

.fileinput {display:inline-block;position:relative;}
.fileinput input[type=file] {position:Absolute; width:80px; height:40px; cursor: pointer; opacity: 0; z-index:2; outline:none !important;padding:0;}
.fileinput input[type=file] + .label {display:block;border-radius:4px;width:78px;height:38px;line-height:38px;border:solid 1px #000;color:#000;text-align:center;}

.filebox {overflow:hidden;display:inline-block;vertical-align:middle;height:40px;}
.filebox input[type=file] {position:absolute; left:-9999em; margin:0; padding:0; height:0;}
.filebox label {float:left; border-radius:4px;width:78px;height:38px;line-height:38px;border:solid 1px #000;color:#000;text-align:center;}
.filebox input[type=text] {float:left; margin-right:10px;}

select {width:100%; height:40px; padding-left: 10px !important; line-height:38px; background: #fff; border:1px solid #dee1e7; border-radius:4px; box-sizing: border-box; color:#757575;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;  
    background:#fff url('../imgs/icon/ico_select.png') 100% center no-repeat; 
}
select{ padding:0\0/IE8+9;}
select{ background-size:0 0\9;}
textarea {width:100%; padding: 10px; line-height:20px; background: #fff; border:1px solid #dee1e7; border-radius:4px; box-sizing: border-box; resize: none;}
textarea::placeholder{color:#979797;}
textarea::-ms-placeholder{color:#979797;}

/* initialize */
body{min-width:1100px}
#wrap{position:relative;overflow:hidden}

/* paging */
.paging{overflow:hidden;text-align:center;margin-top:40px}
.paging li{display:inline-block;vertical-align:top;}
.paging li a{display:block;position:relative;padding:0;margin:0 2px;width:28px;height:28px;border:solid 1px #e8e8e8;background-color:#fff;font-family:'Roboto', sans-serif;color:#444;text-align:center;border-radius:50%;line-height:29px;}
.paging li a strong {display:block;height:28px;background-color:#535e78;border-color:#535e78;color:#fff;border-radius:50%;}
.paging li a.first, .paging li a.prev, .paging li a.next, .paging li a.last{padding:0;}

/* 레이어박스 */
.layer_wrap{border:1px solid #000;}
.layer_wrap .layer_cont{background:#fff;}

.layer_cont h1{color:#fff;font-size:16px; background:#ff5963; padding:15px 20px;}
.layer_cont h2{font-weight:bold;color:#3d3d3d;font-size:12px}
.layer_cont h1 > .laybox-close{display:block; width:17px; height:19px; position:absolute; top:16px; right:13px; text-indent:-999px; font-size:0; background:url(../imgs/btn/btn_layer_close.png) 0 0 no-repeat}
.layer_wrap .layer_cont p.txt_area{padding:20px 15px;font-size:14px; text-align:center;}
.layer_wrap .layer_cont .couponList{overflow-y:auto;max-height:240px;margin:0 0 20px;padding:4px 10px 5px;border:1px solid #dcdcdc;background:#f8f8f8}
.layer_wrap .layer_cont .couponList li{padding:3px 0 3px 8px;word-wrap:break-word;font-size:12px;color:#555;line-height:18px;background:url(../imgs/icon/bul_left_info.gif) 0 11px no-repeat}

.layer_wrap .layer_cont .btn_cart{display:inline-block; color:#fff !important; padding:10px 30px; background:#aab2bd;}
.layer_wrap .layer_cont p.txt_area a{color:#ff5a63;}

.layer_wrap .msgbox {position:relative;padding:34px 0 24px;}
.layer_wrap .msgbox h1 {text-align:center;background-color:#fff;color:#666;padding:0;}
.layer_wrap .layerclosebtn {position:absolute;width:13px;height:13px;right:10px;top:10px;text-indent:-999em;}
.layer_wrap .layerclosebtn:before,
.layer_wrap .layerclosebtn:after {content:'';background-color:#555;position:absolute;transform:rotate(-45deg);}
.layer_wrap .layerclosebtn:before {width:100%;height:1px;left:0;top:50%;margin-top:-1px;}
.layer_wrap .layerclosebtn:after {width:1px;height:100%;left:50%;top:0;margin-left:-1px;}
.layer_wrap .msgbox .buttonsbox {text-align:center;margin-top:25px;}
.layer_wrap .msgbox .buttonsbox a,
.layer_wrap .msgbox .buttonsbox button {display:inline-block;vertical-align:top;height:34px;width:126px;border-radius:17px;background-color:#0072bc;color:#fff;text-align:center;line-height:32px;margin:0 3px;}

.layer_wrap_new{
  overflow: auto !important;
  max-height:100%;
}
#laybox-canvas > div{height: 800px;overflow: auto;}

/* table */
.table_fixed{table-layout:fixed}
.table_ver{margin:10px 0 0; border-top:1px solid #ccc}
.table_ver thead th{text-align:center; padding:15px 0;color:#000; background:#f7f7f7;  border-bottom:solid 1px #e8e8e8; font-weight:400;}
.table_ver tbody th{text-align:center; padding:18px 0 17px;color:#000; background:#f7f7f7;  border-bottom:solid 1px #e8e8e8; }
.table_ver tbody td{text-align:center;padding:18px 0 17px; border-bottom:solid 1px #e8e8e8; word-break:break-all; color:#000;line-height:18px;}
.table_ver tbody td a {color:#000;}
.table_ver tbody td button{margin:2px 0}
.table_ver tbody td.text_left{text-align:left;padding-left:15px;}
.table_ver tbody td.text_right{text-align:right;}
.table_ver tfoot td {border-bottom:none 0;text-align:right;color:#000;font-weight:700;line-height:20px;padding:15px 20px;}
.table_ver tfoot td .roboto {font-size:18px;display:inline-block;vertical-align:top;margin-left:20px;}
.table_ver tfoot td span {display:inline-block;vertical-align:top;}

.table_hor{border-collapse:collapse;width:100%; border-top:1px solid #ccc;table-layout:fixed}
.table_hor th{background:#f7f7f7; border-bottom:solid 1px #e8e8e8; text-align:left;font-weight:normal;padding:18px 10px 18px 20px; color:#000; line-height:17px;}
.table_hor td{text-align:left;padding:18px 20px; border-bottom:solid 1px #e8e8e8;word-break:break-all; color:#000; line-height:17px;}
.table_hor td.input{padding:5px 10px; text-align:left;}
.table_hor td .inbtn {display:inline-block;vertical-align:middle;padding:12px 15px;border:solid 1px #000;background-color:#fff;color:#000;line-height:14px;border-radius:4px;margin-left:5px;}
.table_hor td .inbtn.full {border-color:#535e78;background-color:#535e78;color:#fff;}
.table_hor td .notitxt {display:inline-block;vertical-align:middle;margin-left:20px;color:#979797;}

@media print {
.buttonwrap {display:none;}
#pop_wrap {padding:0 !important;}
}

/* 레이어 */
.layer_fixed {display:none;position:fixed;left:50%;top:50%;transform:translate(-50%, -50%);z-index:99;}
.layer_fixed .inbox {position:relative;background:#fff;padding:29px;border-radius:10px;border:solid 1px #e8e8e8;}
.layer_fixed .title {padding-top:3px;height:41px;border-bottom:solid 2px #000;font-size:20px;color:#000;font-weight:700;}
.layer_fixed .contents {text-align:center;font-size:16px;line-height:26px;color:#000;margin-top:25px;}
.layer_fixed .contents .count {font-size:20px;font-weight:700;margin-bottom:11px;}
.layer_fixed .buttonwrap {margin-top:32px;}
.layer_fixed .laybox-close{display:block; width:27px; height:27px; position:absolute; top:29px; right:25px; z-index:2; text-indent:-999px; font-size:0; background:url(../imgs/btn/btn_layer_close2.png) 0 0 no-repeat}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.wrap{}
.header{}
.container{}
.footer{background:#e8e8e8;}

strong{font-weight:700 !important;}
button{cursor: pointer;}

.bg_gray{background: url(../img/common/pc/ico/bg_top.png) no-repeat 0 0;}

/* 피씨 */
@media (min-width: 570px) {
  .inner{max-width:1200px;margin:0 auto;}
  .pc{display:block;}
  .mo{display:none;}
  .header_cont{height:100px;display: flex;align-items: center;flex-direction: row;position:relative;}
  .header_cont h1{display:inline-block;}
  .header_cont .menu{display:inline-block;margin-left:30px;}
  .header_cont .menu:after{content:'';display:block;clear:both;}
  .header_cont .menu li{float:left;}
  .header_cont .menu li+li{margin-left:2px;}
  .header_cont .menu li a{color: #222;font-size: 20px;font-style: normal;font-weight: 700;letter-spacing: -0.4px;padding:8px 16px;}
  .header_cont .menu li a.on,
  .header_cont .menu li a:hover{color: #706DF0;border-radius: 8px;background: rgba(112, 109, 240, 0.10);}
  .logo a{background:url(../img/common/pc/logo.png) no-repeat left 0;height:35px;line-height:35px;display:block;padding-left:43px;
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .info_cont{position: absolute;top: 50%;right:0;transform: translate(0, -50%);}
  .info_cont .info_menu{display:inline-block;vertical-align:middle;line-height:46px;}
  .info_cont .info_menu:after{content:'';display:block;clear:both;}
  .info_cont .info_menu li{float:left;}
  .info_cont .info_menu li a{color: #717B8A;text-align: center;font-family: Pretendard;font-size: 16px;font-style: normal;font-weight: 400;letter-spacing: -0.32px;}

  .info_cont .user{color: #222;font-family: Pretendard;font-size: 18px;font-style: normal;font-weight: 400;letter-spacing: -0.36px;vertical-align:middle;}
  .info_cont .user .rank{border-radius: 12px;background: #706DF0;padding: 4px 8px;color: #FFF;font-family: Pretendard;font-size: 14px;font-style: normal;font-weight: 500;letter-spacing: -0.28px;vertical-align:middle;}
  
  .btn_log{border-radius: 8px;border: 1px solid #D8DDE9;background: #FFF;padding: 8px 16px;vertical-align:middle;margin-left:8px;}
  .btn_log .txt{display:block;color: #222;font-family: Pretendard;font-size: 14px;font-style: normal;font-weight: 400;letter-spacing: -0.28px;}
  .btn_log .time{margin-top:4px;display:block;color: #FF5858;font-family: Pretendard;font-size: 12px;font-style: normal;font-weight: 400;}
  
  .bar{position:relative;padding-right:16px;}
  .bar:after{width:1px;height:16px;background: #EFF0F3;content:'';position:absolute;top: 50%;right:8px;transform: translate(-50%, -50%)}

  /* location */
  .location{padding:32px 0 52px 0;position:relative;}
  .location a{color: #717B8A;font-family: Pretendard;font-size: 15px;font-style: normal;font-weight: 400;letter-spacing: -0.3px;line-height:16px;display:inline-block;}
  .location a:after{content:'>';}
  .location a:first-child{padding-left:20px;background: url(../img/common/pc/ico/ico_location_logo.png) no-repeat 0 center;}
  .location a:last-child{color: #222;font-weight: 500;}
  .location a:last-child:after{display:none;}

  /* search_cont */
  .search_cont{}
  .search_cont{}
  .search_cont{}
  .search_cont{}
}

/* 모바일 */
@media (max-width: 569px) {
  body {background-color: red;}
  .pc{display:none;}
  .mo{display:block;}
  body{min-width:100%;}

}


