@charset "utf-8";

/* font */
/* Pretendard */
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 300;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Light.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Light.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 500;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Regular.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 600;
	src: local("Pretendard-SemiBold"),
		url("../font/Pretendard-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-SemiBold.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Montserrat */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat-Light"),
		url("../font/Montserrat-Light.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
		url("../font/Montserrat-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local("Montserrat-Light"),
		url("../font/Montserrat-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
		url("../font/Montserrat-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local("Montserrat-SemiBold"),
		url("../font/Montserrat-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
		url("../font/Montserrat-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}



/* Roboto */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto-Light"),
		url("../font/Roboto-Light.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Roboto-Light.woff") format("woff"), /* Modern Browsers */
		url("../font/Roboto-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto-Regular"),
		url("../font/Roboto-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
		url("../font/Roboto-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: local("Roboto-Medium"),
		url("../font/Roboto-Medium.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Roboto-Medium.woff") format("woff"), /* Modern Browsers */
		url("../font/Roboto-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto-Bold"),
		url("../font/Roboto-Bold.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Roboto-Bold.woff") format("woff"), /* Modern Browsers */
		url("../font/Roboto-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}


/* reset */
html { overflow-y: auto; -ms-touch-action: manipulation; touch-action: manipulation;}
body { min-height: 100%; color: #222; font-size:15px; font-family: 'Pretendard', 'NotoSans', 'Malgun Gothic', '돋움', 'Dotum', Arial, Sans-serif; letter-spacing: -0.5px; word-break: break-all; word-wrap: break-word; }
html, body { height: 100%; -webkit-overflow-scrolling: touch; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote, th, td, p, button { margin: 0; padding: 0; -webkit-text-size-adjust: none; }
fieldset, img, abbr, acronym { border: 0 none; }
fieldset { min-inline-size: auto; }
img { max-width: 100%; max-height: 100%; vertical-align: top; }
legend { position: absolute; height: 0; line-height: 0; font-size: 0; overflow: hidden; margin: 0; padding: 0; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
q:before, q:after { content:''; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
caption { display: table-caption; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; text-align: left; }
select { min-width: 100px; -webkit-border-radius: 0; }
select::-ms-expand { display: none; }
textarea { overflow: auto; resize: none; }
select:focus,
input:focus,
textarea:focus { outline: none; border-color: #0048c0; }
a:focus,
button:focus { outline-offset: -2px; }
a { text-decoration: none; cursor: pointer; color: inherit; }
a.disabled,
button.disabled,
button:disabled { cursor: default; pointer-events: none; }
button { border: 0 none; background: none; cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button, input, select, textarea { font-family: 'NotoSans', 'Malgun Gothic', '돋움', 'Dotum', Arial, Sans-serif; vertical-align: middle; }
hr { margin: 0; height: 100px; border: 0 none; }

input[type="checkbox"]{position:absolute;width:0;height:0;font-size:0;}
input[type="checkbox"] + label{cursor: pointer;}
input[type="checkbox"] + label:before{content:"";display:inline-block;vertical-align:middle;width:14px;height:14px;margin-right:10px;background:url(../images/common/ico_input_chkbox.png) no-repeat 0 0;background-size:100% auto;margin-top:-1px;}
input[type="checkbox"]:checked + label:before{background-position:0 -14px;}

.utill_box input[type="checkbox"] + label:before{content:"";display:inline-block;vertical-align:-1px;width:15px;height:15px;margin-right:10px;background:url(../images/common/ico_input_checkbox.png) no-repeat 0 0;background-size:100% auto;}
.utill_box input[type="checkbox"]:checked + label:before{background-position:0 -15px;}

input[type="radio"]{position:absolute;width:0;height:0;font-size:0;}
input[type="radio"] + label{cursor: pointer;}
/* input[type="radio"] + label:before{content:"";display:inline-block;vertical-align:middle;width:12px;height:12px;margin-right:10px;margin-top:-2px;background:url(../images/common/ico_input_radio.png) no-repeat 0 0;background-size:100% auto;} */
/* input[type="radio"]:checked + label:before{background-position:0 -12px;} */

/* input[type="text"]:hover,
input[type="password"]:hover{border-color:#e7e7e7}
input[type="text"]:focus,
input[type="password"]:focus{border-color:#e7e7e7;} */
input[type="text"]:disabled{border-color:#e7e7e7;background:#fafbfc !important;color:#aaa;border: 1px solid #e7e7e7;}
input:-webkit-autofill{ -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* common */
select,
select:active,
select:focus {padding:7px 40px 10px 20px;height:40px;border:1px solid #e7e7e7;-webkit-appearance:none; -moz-appearance:none;appearance:none;color:#333;font-size:14px;line-height:14px;}
.ess{font-size:18px;color:#fb5877;padding:0 3px;vertical-align:top;}
.select_box{position:relative;display:inline-block;vertical-align:middle;}
.select_box:after{position:absolute;right:20px;top:50%;content:'';width:5px;height:5px;border-top:1px solid #000;border-right:1px solid #000;transform:rotate(135deg);margin-top:-4px;}
select::-ms-expand {display:none;}
/* input[type="text"],
input[type="password"],
input[type="file"]{padding:9px 20px;border:1px solid #e7e7e7;font-size:14px;height:40px;} */

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="file"]::placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="file"]::-ms-input-placeholder {font-weight:500 !important;color:#999}

input+.btn{margin-left:6px;}


/* html5 태그*/
header, footer, article, section, aside, details, figure, figcaption, nav, hgroup { display: block; margin: 0; padding: 0; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* hidden */
.hidden { position: absolute !important; margin: -1px !important; padding: 0 !important; width: 1px !important; height: 1px !important; overflow: hidden !important; clip-path: polygon(0 0, 0 0, 0 0) !important; }

/* guide */
.guide{font-size:30px;font-weight:600;padding:20px;color:skyblue;}

/* box-sizing */
/* * { -webkit-box-sizing: border-box; box-sizing: border-box; } */

/* placeholder color */
::placeholder { color: #999; opacity: 1; }
:-ms-input-placeholder { color: #999; opacity: 1; } /* IE 10+ */
:-moz-placeholder { color: #999; opacity: 1; } /* Firefox 18- */
::-moz-placeholder { color: #999; opacity: 1; } /* Firefox 19+ */
::-webkit-input-placeholder { color: #999; opacity: 1; } /* Chrome/Opera/Safari */

/* paging */
.paging{margin-top:40px;text-align:center;}
.paging a{display:inline-block;vertical-align:top;min-width:30px;height:30px;text-align:center;line-height:30px;border-radius:4px;}
.paging a.current{border:1px solid #2a6296;color:#2a6296;background:#2a6296;color:#fff;border-radius:50%;line-height:28px;}
.paging a.first,
.paging a.prev,
.paging a.next,
.paging a.last{background-repeat:no-repeat;background-position:center;font-size:0;opacity:0.7}
.paging a.first:hover,
.paging a.prev:hover,
.paging a.next:hover,
.paging a.last:hover{opacity:1}
.paging a.first{background-image:url(../images/common/paging_first.png);}
.paging a.prev{background-image:url(../images/common/paging_prev.png);margin-right:5px;}
.paging a.next{background-image:url(../images/common/paging_next.png);margin-left:5px;}
.paging a.last{background-image:url(../images/common/paging_last.png);}

/* button */
a[class*="btn_"], button[class*="btn_"] { display: inline-block; vertical-align: top; }

/* button icon */
.btn[class*="icon"]:before, .btn[class*="icon"]:after { display: inline-block; background-repeat: no-repeat; background-position: 0 0; background-size: 100% auto; vertical-align: middle; }
.btn[class*="icon_before"]:before { content: ""; margin-right: 10px; }
.btn[class*="icon_after"]:after { content: ""; margin-left: 10px; }
.btn[class*="icon_full"] { position: relative; padding: 0; border: 0 none; text-indent: -9999px; overflow: hidden; }
.btn[class*="icon_full"]:before { content: ""; position: absolute; top: 50%; left: 50%; }
.btn[class*="icon_full_file"] { width: 24px; height: 28px; }
.btn[class*="icon_full_file"]:before { margin: -25px 0 0 -25px; width: 50px; height: 50px; background-image: url("../images/icon/icon_file.png"); background-size: auto; }
.btn.icon_full_file01:before { background-position: 0 -50px; }
.btn.icon_full_file02:before { background-position: 0 -100px; }
.btn.icon_full_file03:before { background-position: 0 -150px; }
.btn.icon_full_file04:before { background-position: 0 -200px; }
.btn.icon_full_file05:before { background-position: 0 -250px; }
.btn.icon_full_file06:before { background-position: 0 -300px; }
.btn.icon_full_file07:before { background-position: 0 -350px; }
.btn.icon_full_file08:before { background-position: 0 -400px; }
.btn[class*="icon_before_file"] { padding: 0 0 0 36px; height: auto; color: #444; line-height: 24px; font-size: 16px; border: 0 none; text-align: left; }
.btn[class*="icon_before_file"]:focus,
.btn[class*="icon_before_file"]:hover { text-decoration: underline; }
.btn[class*="icon_before_file"]:before { position: absolute; top: -13px; left: -13px; width: 50px; height: 50px; background-image: url("../images/icon/icon_file.png"); background-size: auto; }
.btn.icon_before_file01:before { background-position: 0 -50px; }
.btn.icon_before_file02:before { background-position: 0 -100px; }
.btn.icon_before_file03:before { background-position: 0 -150px; }
.btn.icon_before_file04:before { background-position: 0 -200px; }
.btn.icon_before_file05:before { background-position: 0 -250px; }
.btn.icon_before_file06:before { background-position: 0 -300px; }
.btn.icon_before_file07:before { background-position: 0 -350px; }
.btn.icon_before_file08:before { background-position: 0 -400px; }
.btn.icon_before_more_service { padding: 0; height: auto; color: #002c6d; line-height: 24px; font-size: 16px; border: 0 none; text-decoration: underline; }
.btn.icon_before_more_service:before { margin-right: 7px; width: 12px; height: 16px; background-image: url("../images/icon/icon_more_service.png"); vertical-align: -3px; }
.btn.icon_before_back { padding: 0; height: 40px; color: #444; line-height: 40px; font-size: 16px; border: 0 none; }
.btn.icon_before_back span { display: inline-block; text-decoration: underline; -webkit-text-decoration-color: #b1b1b1; text-decoration-color: #b1b1b1; vertical-align: top; }
.btn.icon_before_back:before { width: 21px; height: 17px; background-image: url("../images/icon/icon_back.png"); vertical-align: -1px; }
.btn.icon_before_fss:before { width: 24px; height: 24px; background-image: url("../images/icon/icon_fss.png"); vertical-align: -5px; }
.btn.icon_after_link { padding: 0; height: auto; line-height: inherit; font-size: inherit; border: 0 none; }
.btn.icon_after_link:after { width: 15px; height: 15px; background-image: url("../images/icon/icon_link.png"); vertical-align: -1px !important; }
.btn.icon_after_download:after { width: 17px; height: 17px; background-image: url("../images/icon/icon_download.png"); vertical-align: -1px; }
.btn.icon_after_more:after { width: 12px; height: 16px; background-image: url("../images/icon/icon_more.png"); vertical-align: -3px; }
.btn.icon_after_more_s:after { margin-left: 8px; width: 10px; height: 13px; background-image: url("../images/icon/icon_more_s.png"); vertical-align: -2px; }

/* txt icon */
[class*="icon_txt"] { display: inline-block; position: relative; vertical-align: top; }
[class*="icon_txt"]:before { content: ""; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-position: 0 0; background-size: 100% auto; }
.icon_txt_i { padding-left: 34px; }
.icon_txt_i:before { top: 1px; width: 21px; height: 21px; background-image: url("../images/icon/icon_txt_i.png"); }
.icon_txt_em + .icon_txt_em { margin-top: 10px !important; }
.icon_txt_em { padding-left: 30px; }
.icon_txt_em:before { top: 4px; width: 18px; height: 18px; background-image: url("../images/icon/icon_txt_em.png"); }
[class*="icon_txt_"] + [class*="icon_txt_"] { margin-top: 13px; }
[class*="icon_txt_directions"] { padding-left: 28px; }
[class*="icon_txt_directions"]:before { top: 2px; width: 20px; height: 22px; }
.icon_txt_directions_zipcode:before { background-image: url("../images/icon/icon_txt_directions_zipcode.png"); }
.icon_txt_directions_phone:before { background-image: url("../images/icon/icon_txt_directions_phone.png"); }
.icon_txt_directions_email:before { background-image: url("../images/icon/icon_txt_directions_email.png"); }

/* 키보드 탭시 영역 */
/* a:focus-visible,button:focus-visible,
.type_selet input[type="radio"]:focus-visible+label{outline:2px dotted #222;outline-offset:-2px;} */

/* swiper */
.swiper {width: 100%;height: 100%;}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* background: #fff; */

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* swiper 시작/일시정지 */
.swiper-button-ss { width: 12px; height: 15px; background: url("../images/icon/icon_swiper-button-ss.png") no-repeat 0 0; }
.swiper-button-ss.on { background-position: 0 -15px; }