@charset "utf-8";

#container {margin-top:0;padding-top:30px;}
#container:before {content:'';position:absolute;left:50%;top:0;z-index:0;width:1920px;height:119px;margin-left:-960px;background-color:#e6f5fb}

/* 메뉴 */
.csinfobox {position:relative;z-index:1;border:solid 2px #059ad9;border-radius:10px;background-color:#fff;overflow:hidden;padding:37px 27px 30px 40px;}
.csinfobox:before {content:'';width:100%;height:3px;background-color:#059ad9;position:absolute;left:0;top:0;}
.csinfobox:after {content:'';display:block;clear:both;}
.csinfobox .info {float:left;}
.csinfobox .info h2 {margin:0;padding:0;font-size:28px;line-height:30px;color:#000;font-weight:700;padding-top:5px;}
.csinfobox .info .name {line-height:16px;margin-top:12px;}
.csinfobox .menu {float:right;}
.csinfobox .menu ul {display:table;min-height:71px;}
.csinfobox .menu li {display:table-cell;width:165px;border-right:solid 1px #f0f0f0;vertical-align:top;text-align:center;padding:6px 0;}
.csinfobox .menu li a {color:#000;line-height:24px;display:inline-block;vertical-align:top;}
.csinfobox .menu li .active {font-weight:700;color:#059ad9;padding-right:16px;background:url(../imgs/mypage/arrow_menu.png) right center no-repeat;}
.csinfobox .menu li.notice {width:200px;text-align:left;}
.csinfobox .menu li.last {border-right:none 0;width:158px;}
.csinfobox .menu li .alone {dipslay:inline-block;vertical-align:top;font-size:16px;color:#000;font-weight:bold;}
.csinfobox .menu li .alone.active {color:#059ad9;}
.csinfobox .menu li dl {position:relative;padding-left:78px;}
.csinfobox .menu li dl dt {position:absolute;left:0;top:0;font-size:16px;color:#000;font-weight:bold;line-height:24px;}
.csinfobox .menu li dl dd {line-height:24px;}

.section {margin-top:70px;position:relative;}
h3 {font-size:24px;color:#000;font-weight:400;line-height:25px;margin-bottom:28px;}

.boardTab {overflow:hidden;margin-bottom:50px;}
/* .boardTab li {float:left;width:50%;;border-bottom:solid 2px #059ad9;vertical-align:top;}
.boardTab li a {display:block;text-align:center;background-color:#e8e8e8;font-size:18px;border-top-left-radius:10px;border-top-right-radius:10px;padding:21px 0 18px;}
.boardTab li.active a {background-color:#fff;border:solid 2px #059ad9;border-bottom:none 0;color:#000;font-weight:bold;}
.boardTab li.active {border-bottom:none 0;} */

.boardTab{
	display:table;
	width:100%;
	table-layout:fixed;
	border-bottom:1px solid #E1E3E9;
}
.boardTab li{
	display:table-cell;
	color: #AEB7C6;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -0.8px;
	position:relative;
	height:52px;
	line-height:52px;
}
.boardTab li.active{
	color: #0072BC;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.8px;
}
.boardTab li.active:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:4px;
	display:block;
	background:#0072BC;
}


.boardTab.col3 li{width:33.3%;}

/* 게시판 Total */
.board_total{overflow:hidden;margin:10px 0 0}
.board_total select{float:left}
.board_total p{float:right;margin:4px 0 0}
.board_total p.admin{margin-right:20px}

/* 게시판 목록 */
.board_list_ver{border-collapse:collapse;width:100%; font-size:14x;border-top:1px solid #ccc;table-layout:fixed}
.board_list_ver thead{background:#f7f7f7;border-bottom:solid 1px #e8e8e8}
.board_list_ver thead th{text-align:center;font-weight:normal;padding:16px 10px; color:#000;font-weight:bold;line-height:18px;}
.board_list_ver tbody td{text-align:center;padding:28px 10px; border-bottom:solid 1px #e8e8e8; color:#000;line-height:18px;}
.board_list_ver tbody td.title{text-align:left;padding-left:16px}
.board_list_ver tbody td.title a{word-break:break-all; display:inline-block; width:95%; color:#000;}
.board_list_ver tbody td.title a:hover{color:#ff5a63; transition:0.3s;}
.board_list_ver tbody td.none{padding:30px 0}
.board_list_ver tbody td img{vertical-align:middle}
	/*관리자공지글*/
.board_list_ver tbody tr.admin{}
.board_list_ver tbody tr.admin td, .board_list_ver tbody tr.admin td a{}

	/*숨김글*/
.board_list_ver tbody tr.hidden{filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background:#eee}
/*웹진 목록 */
.board_list_ver tbody td.summary{text-align:left;vertical-align:top;padding:10px}
.board_list_ver tbody td.summary p{border-bottom:solid 1px #ddd;padding:5px}
.board_list_ver tbody td.summary p a{color:#000}
.board_list_ver tbody td.summary span{display:block;margin:10px 5px}

/* 앨범형 목록 */
.board_list_album{border-collapse:collapse;width:100%;overflow:hidden;text-align:center;table-layout:fixed}
.board_list_album tbody td{color:#666;border-bottom:solid 1px #dbdbdb;line-height:16px;text-align:center}
.board_list_album tbody td div{position:relative;width:180px;text-align:left;margin:0 auto}
.board_list_album tbody td div input{position:absolute;left:0;top:3px}
.board_list_album tbody td div .thumb{margin-bottom:10px}
.board_list_album tbody td div a{color:#666}

	/*숨김글*/
.board_list_album tbody td.hidden{filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background:#eee}

/* 게시판 버튼*/
.board_button{text-align:center;margin-top:70px}
.board_button:after{content:'.';display:block;clear:both;visibility:hidden}
.board_button .block{display:table;margin:0 auto;display:inline-block}
.board_button .ltb{float:left; width:80%; text-align:left;}
.board_button .rtb{float:right}
.board_button select {display:inline-block; width:150px;}
.board_button button {width:80px; padding:0}
.board_button .btn {display:inline-block;vertical-align:top;width:200px;height:70px;border-radius:10px;background-color:#0072bc;border:solid 1px #0072bc;font-size:22px;color:#fff;text-align:center;line-height:68px;margin:0 8px;}
.board_button .btn.pbor {background-color:#fff;color:#0072bc;}


/* 게시판 페이징 */
.board_paging{overflow:hidden;text-align:center;margin-top:30px}
.board_paging li{display:inline}
.board_paging li a{display:inline-block; height:26px; line-height:26px; padding:0 7px;  margin:0 2px;}
.board_paging li a.end{}
.board_paging li a.first, .board_paging li a.prev, .board_paging li a.next, .board_paging li a.last{padding:0; margin:0 5px;}
.board_paging li a.prev{}
.board_paging li a.next{}

/* 게시판 검색 */
.board_search{width:500px; margin:30px auto 0; }
.board_search select {width:100px;}
.board_search button {width:90px; padding:0}
.board_search input{width:300px}

/* 글쓰기 */
.board_type_hor{border-collapse:collapse;width:100%;font-size:16px;border-top:1px solid #ccd1d9;table-layout:fixed}
.board_type_hor tbody tr.attach_thumb{display:none}
.board_type_hor tbody th{background:#f5f7fa;border-bottom:solid 1px #ccd1d9; padding:20px 10px;font-weight:normal;color:#000;text-align:center;}

.board_type_hor tbody td{border-bottom:solid 1px #ccd1d9;padding:20px 10px;text-align:left; word-break:break-all;}
.board_type_hor tbody td.input{padding:5px 10px;}
.board_type_hor tbody td input.txt{}
	/* 내용(에디터) */
.board_type_hor tbody td.editor{padding:0 !important;}
.board_type_hor tbody td.editor .editor_container{}
	/* 내용(보기) */
.board_type_hor tbody td.content .writer_ip{text-align:right;font-size:11px;margin-bottom:10px}
.board_type_hor tbody td.content .attach_viewer{overflow:auto;margin-bottom:10px;text-align:center}
	/* 첨부 */
.board_type_hor tbody td.attach span{color:#CA1818; font-size:13px;}
.board_type_hor tbody td.attach div{float:right}
.board_type_hor tbody td.attach table{table-layout:fixed}
.board_type_hor tbody td.attach td{border:0 none;text-align:left;padding:5px 0 0}

	/* 스펨방지 */
.board_type_hor tbody td.anti_spam img { border:1px solid #ccc; }
.board_type_hor tbody td input.w100{width:100%}


/* 이전글,다음글 */
.board_type_hor1{border-collapse:collapse;width:100%;font-size:14px;table-layout:fixed}
.board_type_hor1 th,
.board_type_hor1 td {border-bottom:solid 1px #e8e8e8;text-align:left;line-height:24px;padding:15px 0;font-weight:400;}
.board_type_hor1 tbody th{padding-left:20px;color:#979797;}
.board_type_hor1 tbody td,
.board_type_hor1 tbody td a {color:#000;}
.board_type_hor1 th > span {display:inline-block;vertical-align:top;padding-right:28px;position:relative;}
.board_type_hor1 th > span:after {content:'';width:5px;height:5px;border:solid 1px #d7d7d7;border-right-width:0;border-bottom-width:0;position:absolute;right:0;top:50%;transform:rotate(45deg);}
.board_type_hor1 th > span.next:after {transform:rotate(-135deg);margin-top:-3px;}
/* 코멘트 */
.content_comment{position:relative;padding:10px 20px;margin-top:20px;font-size:16px;background-color:#f5f7fa;border:1px solid #ccd1d9;}
.content_comment form{}
.content_comment form button{}
.content_comment form >div{display:table; width:100%;}
.content_comment form >div>span{display:table-cell;  padding:10px 10px;}
.content_comment form >div>span.th{width:100px; }

.content_comment form input.txt{}
.content_comment form .opinion label{margin-right:15px;}
.content_comment form .opinion input{}
.content_comment p.no_comment{padding:20px; text-align:center;}
.content_comment p.no_comment img{}

/*의견 목록 */
.content_comment .board_list_ver tbody tr.last td{border-bottom:0 none}
.content_comment .board_list_ver tbody td.icon{padding:0}
.content_comment .board_list_ver tbody td.memo{text-align:left;padding:10px}
.content_comment .board_list_ver tbody td.memo span{color:#6886BF}

/* 삭제,수정 */
.board_delete_box{width:356px;margin:50px auto 30px;padding: 0 0 19px;font-size:11px;border:3px solid #c8c8c8;text-align:center;color:#888}
.board_delete_box h5{padding:10px 0 12px;margin-bottom:19px;font-size:14px;font-weight:bold;background-color:#c8c8c8;text-align:center;color:#fff}
.board_delete_box div.form {margin:17px 0 21px;padding:8px 0;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background-color:#f9f9f9;color:#444}
.board_delete_box div.form  label{display:inline-block;width:55px}
.board_delete_box div.form  input{height:18px;margin:0;padding:0;font-size:12px;font-family:'돋움',dotum,'굴림',gulim;border:1px solid #ccc;background-color:#fff;line-height:17px;text-indent:5px}

/**/
.board_conttbl {border-top:solid 1px #ccc;}
.board_conttbl th,
.board_conttbl td {border-bottom:solid 1px #e8e8e8;font-weight:400;text-align:left;padding:20px;color:#000;}
.board_conttbl th {color:#979797;}
.board_conttbl .date {padding:0;text-align:center;color:#979797;}
.board_conttbl .subject {height:36px;font-weight:500;font-size:18px;line-height:24px;padding:26px 20px;}
.board_conttbl .content {padding:42px 20px;}
.board_conttbl a {color:#000;}
.board_conttbl a.link {text-decoration:underline;color:#059ad9;}
.board_conttbl .padleft {padding-left:0;}
