@charset "utf-8";

#container {margin-top:0;padding-top:30px;}
#container:before {content:'';position:absolute;left:50%;top:0;z-index:0;width:1920px;height:119px;margin-left:-960px;background-color:#e6f5fb}

.section {margin-top:70px;position:relative;}
h3 {font-size:24px;color:#000;font-weight:400;line-height:25px;margin-bottom:28px;}
h3 small {display:inline-block;vertical-align:bottom;font-size:14px;line-height:15px;margin-left:16px;}
h3 .summary {display:inline-block;vertical-align:bottom;font-size:14px;color:#979797;line-height:15px;margin-left:16px;padding-left:21px;position:relative;}
h3 .summary:before {content:'';width:1px;height:20px;background-color:#e8e8e8;position:absolute;left:0;bottom:0;}
h4 {font-size:20px;color:#000;font-weight:700;line-height:21px;margin:50px 0 18px;position:relative;}

/* 메뉴 */
.csinfobox {position:relative;z-index:1;border:solid 2px #059ad9;border-radius:10px;background-color:#fff;overflow:hidden;padding:37px 27px 30px 40px;}
.csinfobox:before {content:'';width:100%;height:3px;background-color:#059ad9;position:absolute;left:0;top:0;}
.csinfobox:after {content:'';display:block;clear:both;}
.csinfobox .info {float:left;}
.csinfobox .info h2 {margin:0;padding:0;font-size:28px;line-height:30px;color:#000;font-weight:700;padding-top:5px;}
.csinfobox .info .name {line-height:16px;margin-top:12px;}
.csinfobox .menu {float:right;}
.csinfobox .menu ul {display:table;min-height:71px;}
.csinfobox .menu li {display:table-cell;width:165px;border-right:solid 1px #f0f0f0;vertical-align:top;text-align:center;padding:6px 0;}
.csinfobox .menu li a {color:#000;line-height:24px;display:inline-block;vertical-align:top;}
.csinfobox .menu li .active {font-weight:700;color:#059ad9;padding-right:16px;background:url(../imgs/mypage/arrow_menu.png) right center no-repeat;}
.csinfobox .menu li.notice {width:200px;text-align:left;}
.csinfobox .menu li.last {border-right:none 0;width:158px;}
.csinfobox .menu li .alone {dipslay:inline-block;vertical-align:top;font-size:16px;color:#000;font-weight:bold;}
.csinfobox .menu li .alone.active {color:#059ad9;}
.csinfobox .menu li dl {position:relative;padding-left:78px;}
.csinfobox .menu li dl dt {position:absolute;left:0;top:0;font-size:16px;color:#000;font-weight:bold;line-height:24px;}
.csinfobox .menu li dl dd {line-height:24px;}

/* search_box */
.search_box{margin:0 0 40px;box-sizing:border-box;background-color:#f7f7f7;border-radius:10px;width:100%;padding:27px 30px 26px;}
.search_box:after {content:'';clear:both;display:block;}
.search_box .faq_tab{float:left;overflow:hidden;width:calc(100% - 360px);margin-top:-4px;}
.search_box .faq_tab li{float:left;border:solid 1px #dee1e7;background-color:#fff;height:33px;margin:4px 2px 0 0;border-radius: 24px;}
/* .search_box .faq_tab li:first-child {margin-left:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search_box .faq_tab li:last-child {border-top-right-radius:5px;border-bottom-right-radius:5px;} */
.search_box .faq_tab li a{display:block;padding:9px 17px;color:#979797;line-height:15px;}
.search_box .faq_tab li.active {border-color:#000;position:relative;z-index:1;}
.search_box .faq_tab li.active a {color:#000;font-weight:700;}
.search_box .search {display:block;float:right;width:290px;position:relative;padding-right:70px;}
.search_box .search input{display:block;margin:0;height:35px;line-height:35px;color:#000;}
.search_box .inbtn {padding:0; margin:0; position:absolute;right:0;top:0;display:block;width:60px;height:35px;border-radius:5px;text-align:Center;color:#fff;font-weight:700;background-color:#535e78;}

/* FAQ */
.totalfaq {color:#000;font-size:14px;line-height:15px;margin-bottom:28px;}
.faq_list{border-top:solid 1px #000;}
.faq_list.no_line {border-top:none;}
.faq_list dt,
.faq_list dd{position:relative; border-bottom:1px solid #e8e8e8;  word-break: break-all; color:#000; line-height:24px; }
.faq_list .icon {display:block;position:absolute;left:30px; top:25px; font-size:18px; font-weight:700; }
.faq_list dt{padding:25px 57px 25px 65px; cursor:pointer;}
.faq_list dt .type{color:#000;margin-right:5px}
.faq_list dt:after{position:absolute; right:22px; top:50%; margin-top:-4px; width:13px; height:7px; content:''; background:url(../imgs/icon/arrow_gray_down.png) 50% 50% no-repeat; transform:rotate(0deg)}
.faq_list dt.on {font-weight:700;}
.faq_list dt.on:after{transform:rotate(-180deg)}
.faq_list dd{display:none;padding:32px 57px 35px 65px; background:#f7f7f7;}
.faq_list dd .icon {color:#ff5a63;top:32px;}
.faq_list img {max-width:100%;}
.faq_none{text-align:center; padding:100px 0; border-top:solid 1px #ccd1d9; border-bottom:solid 1px #ccd1d9;}

/* 배송안내 */
.deliverycont table {table-layout:fixed;width:100%;border-top:solid 1px #ccc;}
.deliverycont table thead th {background-color:#f7f7f7;text-align:center;font-weight:400;height:60px;color:#000;border-left:solid 1px #e8e8e8;}
.deliverycont table tbody td {text-align:center;font-size:16px;color:#000;font-weight:700;border-left:solid 1px #e8e8e8;border-bottom:solid 1px #e8e8e8;line-height:20px;padding:37px 0;}
.deliverycont table thead th:first-child,
.deliverycont table tbody td:first-child {border-left:none 0;}
.deliverycont .default {padding-bottom:43px;}
.deliverycont .infotxt {margin:23px 20px;}
.deliverycont .infotxt li {line-height:24px;}
.deliverycont .mimList {border-top:solid 1px #ccc;}
.deliverycont .mimList dl {border-bottom:solid 1px #e8e8e8;padding:27px 20px 26px;}
.deliverycont .mimList dt,
.deliverycont .mimList dd {line-height:24px;}
.deliverycont .mimList dt {font-weight:700;font-size:18px;color:#059ad9;margin-bottom:10px;}


