@charset "utf-8";


/* 대분류 페이지 */
.ctg_main_visual{overflow:hidden;margin-bottom:14px}
.ctg_main_visual .main_visual{float:left;width:555px;overflow:hidden}
.ctg_main_visual ul{float:right}

.goodsBanner img{max-width:100%}

/* event */
h2.event{text-align:center; color:#ff5a63; border-bottom:1px solid #e0e0e0;padding-bottom:15px;}
.event_list{display:table; margin-top:40px; width:1120px; margin-left:-10px;}
.event_list li{position:relative; width:540px; height:300px;  float:left; padding:0 10px 20px;}
.event_list li.end a:before{position:absolute; display:block; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); content:'';}
.event_list li a{position:relative; display:block; width:540px; height:300px;  overflow:hidden;}
.event_list li img{width:540px;}
.event_list li.end a img{opacity:0.5;}

/*기획전*/
#special_event h4 {margin-top:30px;}
#special_event ul {overflow:hidden;margin:10px 0 0;}
#special_event ul li {float:left;margin-right:13px}

.goodsBanner{margin-bottom:0px;}

/* 추천상품슬라이드 */
.mdrecommend {clear:both;height:371px;background:url(../imgs/goods/recomslide_bg.png) left top no-repeat;margin-bottom:41px;position:relative;padding:66px 0 33px;}
.mdrecommend .head {position:absolute;right:14px;top:20px;text-align:right;height:32px;padding:0 17px;}
.mdrecommend .head h3 {display:inline-block;vertical-align:top;font-size:16px;color:#222;line-height:32px;font-weight:700;margin:0;padding:0;margin-right:14px;}
.mdrecommend .head .swiper-box {display:none;}
.mdrecommend .head .swiper-box.active {display:inline-block;vertical-align:top;width:112px;height:32px;position:relative;}
.mdrecommend .innerbox {background-color:#fff;width:795px;margin:0 auto;border:solid 1px #eaeaea;}
.mdrecommend .innerbox ul {overflow:hidden;width:795px;}
.mdrecommend .innerbox li {float:left;width:198px;height:369px;border-left:solid 1px #eaeaea;}
.mdrecommend .innerbox li:first-child {border-left:none 0;}
.mdrecommend .innerbox li .img_box {width:198px;height:198px;position:relative;}
.mdrecommend .innerbox li .img_box a,
.mdrecommend .innerbox li .img_box a > img {display:block;width:198px;height:198px;}
.mdrecommend .innerbox li .img_box .icons {position:absolute;top:10px;left:10px;width:170px;}
.mdrecommend .innerbox li .img_box .soldoutbox {position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;text-indent:-999em;background-color:rgba(255,255,255,0.85);overflow:hidden;}
.mdrecommend .innerbox li .img_box .soldoutbox:after {content:'';position:absolute;left:0;top:50%;width:100%;height:14px;margin-top:-7px;background:url(../imgs/global/soldout_text_small.png) center center no-repeat;}
.mdrecommend .innerbox li .img_box .finance {position:absolute;left:0;bottom:0;}
.mdrecommend .innerbox li .info_box {width:166px;margin:13px auto 0;}
.mdrecommend .innerbox li .info_box .name {display:block;font-size:16px;color:#000;line-height:24px;}
.mdrecommend .innerbox li .info_box .summary {display:block;font-size:13px;color:#979797;line-height:20px;}
.mdrecommend .innerbox li .info_box .priceinfo {position:relative;margin-top:33px;}
.mdrecommend .innerbox li .info_box .priceinfo .price {display:inline-block;vertical-align:top;font-weight:500;font-size:20px;color:#000;line-height:20px;}
.mdrecommend .innerbox li .info_box .priceinfo .price .won {display:inline-block;font-size:14px;}
.mdrecommend .innerbox li .info_box .priceinfo .marketPrice {display:inline-block;vertical-align:top;font-size:14px;color:#909090;line-height:20px;text-decoration:line-through;}
.mdrecommend .innerbox li .info_box .priceinfo .salediv {margin-top:9px;}
.mdrecommend .innerbox li .info_box .priceinfo .sale {display:inline-block;vertical-align:top;height:18px;line-height:19px;padding:0 8px;color:#f24049;border:solid 1px #ff5a63;border-radius:10px;background-color:#fff;text-align:center;}
.mdrecommend .swiper-button-prev2,
.mdrecommend .swiper-button-next2 {position:absolute;top:50%;margin-top:-16px;width:30px;height:30px;outline:0;z-index:12;border:solid 1px #eaeaea;cursor:pointer;}
.mdrecommend .swiper-button-prev2 {left:0;margin-left:0;background:url(../imgs/button/btn_swiper_prev_small.png) center center no-repeat;}
.mdrecommend .swiper-button-next2 {right:0;margin-right:0;background:url(../imgs/button/btn_swiper_next_small.png) center center no-repeat;}
.mdrecommend .swiper-container-horizontal>.swiper-pagination-bullets, .mdrecommend .swiper-pagination-custom, .mdrecommend .swiper-pagination-fraction {line-height:32px;color:#979797;bottom:0;}
.mdrecommend .swiper-pagination-current {color:#444;}
.mdrecommend .swiper-slide {width:795px !important}


/* 리스트 탭 영역 */
.product_tab_con {position:relative; padding:17px 0 20px; border-bottom:1px solid #222; text-align:right; line-height:30px;}
.product_tab_con .num_con {position:absolute; top:17px; left:0;font-size:16px;}
.product_tab_con .num_con strong {color:#fb5555;}
.product_tab {display:inline-block;vertical-align:top;height:30px;}
.product_tab li{position:relative; float:left; line-height:30px; height:30px;}
.product_tab li:before{position:absolute; top:8px; left:0px; width:1px; height:13px; background:#ddd; content:'';}
.product_tab li:first-child:before{display:none;}
.product_tab li a {display:inline-block;vertical-align:top;padding:0 20px;position:relative;}
.product_tab li.on a {color:#222;font-weight:700;padding-left:36px;background:url(../imgs/global/bg_check.png) 20px center no-repeat;}
.product_tab_con .pview {display:inline-block;vertical-align:top;}
.product_tab_con .pview:after {content:'';clear:both;display:block;}
.product_tab_con .pview a {display:block;float:left;width:30px;height:30px;text-indent:-999em;position:relative;font-size:0;line-height:0;margin-left:-1px;}
.product_tab_con .pview a:before {content:'';border:solid 1px #ddd;width:28px;height:28px;position:absolute;left:0;top:0;}
.product_tab_con .pview .list {background:url(../imgs/global/bg_pview_list.png) right center no-repeat;}
.product_tab_con .pview .grid {background:url(../imgs/global/bg_pview_grid.png) right center no-repeat;}
.product_tab_con .pview a.on:before {border-color:#444;z-index:1;}
.product_tab_con .pview .list.on {background:url(../imgs/global/bg_pview_list.png) left center no-repeat;}
.product_tab_con .pview .grid.on {background:url(../imgs/global/bg_pview_grid.png) left center no-repeat;}
.product_list_ver {margin-top:-1px;}

/* 검색결과 */
.search_detail{margin:70px 0 50px;text-align:Center;color:#000;font-weight:700;font-size:24px;line-height:25px;}
.product_box.pad30 {padding:30px 0;}


/* 상품상세 */
#detail_view{display:table; width:100%;}
/* 상품 Photo 영역 */
#detail_view .pro_photo{position:relative; display:table-cell; width:600px; vertical-align:top;}
#detail_view .pro_photo .icons{position:absolute;top:20px;left:20px;z-index:1;font-size:0;line-height:0;}
#detail_view .pro_photo .icons img {margin-right:2px;}
#detail_view .pro_photo .pro_photo_viewer{overflow:hidden;width:510px;height:510px;text-align:center;border-radius:10px;}
#detail_view .pro_photo .pro_photo_viewer img{width:510px;height:510px}
#detail_view .pro_photo #pro_photo_slide{position:relative;width:482px;margin:17px auto 0}
#detail_view .pro_photo #pro_photo_slide .pro_photo_panel{width:425px;height:80px;margin:0 auto;visibility:hidden}
#detail_view .pro_photo #pro_photo_slide .pro_photo_panel ul{overflow:hidden;width:425px}
#detail_view .pro_photo #pro_photo_slide .pro_photo_panel ul li{float:left;margin:0 5px}
#detail_view .pro_photo #pro_photo_slide .pro_photo_panel ul li img{width:70px;height:70px;border:solid 1px #e8e8e8; border-radius:5px; box-sizing:border-box;}
#detail_view .pro_photo #pro_photo_slide .pro_photo_panel ul li.active img {border-color:#059ad9;}
#detail_view .pro_photo #pro_photo_slide .prev{position:absolute;bottom:0;left:0}
#detail_view .pro_photo #pro_photo_slide .next{position:absolute;bottom:0;right:0}

/* 상품 Content 영역 */
#detail_view .pro_cont{position:relative; display:table-cell; vertical-align:top; padding-top:14px; color:#000;}
#detail_view .pro_cont h2{font-size:24px;color:#000; line-height:28px; font-weight:700; word-wrap:break-word; margin-bottom:10px;}
#detail_view .pro_cont .summary{padding-bottom:15px; font-size:18px; line-height:24px; color:#231f20; word-wrap:break-word;}
#detail_view .pro_cont .summary2{padding-bottom:15px; font-size:16px; line-height:24px; color:#656d78; word-wrap:break-word;}

#detail_view .pro_cont .pricebox {line-height:32px;margin-bottom:10px;position:relative;}
#detail_view .pro_cont .pricebox .price {display:inline-block;vertical-align:top;font-size:18px;}
#detail_view .pro_cont .pricebox .price strong {font-size:28px;}
#detail_view .pro_cont .pricebox .price .text {display:inline-block;vertical-align:top;}
#detail_view .pro_cont .pricebox .marketPrice {display:inline-block;vertical-align:top;color:#979797;text-decoration:line-through;margin-left:5px;}
#detail_view .pro_cont .pricebox .sale {display:inline-block;vertical-align:middle;color:#f24049;text-align:center;height:18px;border:solid 1px #f24049;border-radius:10px;padding:0 7px;line-height:19px;margin-left:5px;}
#detail_view .pro_cont .btnwish {position:absolute;right:0;top:0;width:32px;height:31px;border:solid 1px #ededed;border-radius:50%;background:#fff;text-indent:-999em;}
#detail_view .pro_cont .btnwish:after {content:'';width:17px;height:17px;position:absolute;top:6px;left:8px;background:url(../imgs/global/bg_wishbox.png) center bottom no-repeat;}
#detail_view .pro_cont .btnwish.active:after {background-position:center top;}
#detail_view .pro_cont .detailinfobox {border-top:solid 2px #000;margin-top:26px;padding-top:17px;}
#detail_view .pro_cont dl{display:table; width:100%;}
#detail_view .pro_cont dl dt,
#detail_view .pro_cont dl dd {display:table-cell; vertical-align:top; line-height:24px; color:#000; padding:8px 0 7px;}
#detail_view .pro_cont dl dt{width:110px;}
#detail_view .pro_cont dl dd{}
#detail_view .pro_cont dl.total_sum {border-top:solid 1px #e8e8e8;margin-top:12px;}
#detail_view .pro_cont dl.total_sum dt,
#detail_view .pro_cont dl.total_sum dd {padding:25px 0;line-height:32px;}
#detail_view .pro_cont .numwrap {overflow:hidden;}
#detail_view .pro_cont .num_navbox {display:block;float:left;width:52px;height:30px;border:solid 1px #2a2727;border-radius:15px;padding:0 30px;position:relative;}
#detail_view .pro_cont .num_navbox input {display:block;margin:0;padding:0;text-align:center;text-indent:0;border:none 0;height:30px;line-height:28px;color:#2a2727;font-size:16px;}
#detail_view .pro_cont .num_navbox .num_nav .up,
#detail_view .pro_cont .num_navbox .num_nav .dn {position:absolute;top:0px;width:30px;height:30px;text-indent:-999em;}
#detail_view .pro_cont .num_navbox .num_nav .up {right:0;background:url(../imgs/global/num_nav_up2.png) right center no-repeat;border-left:solid 1px #2a2727;}
#detail_view .pro_cont .num_navbox .num_nav .dn {left:0;background:url(../imgs/global/num_nav_dn2.png) right center no-repeat;border-right:solid 1px #2a2727;}
#detail_view .pro_cont .buyqty {display:block;float:left;margin-left:12px;width:250px;font-size:13px}
#detail_view .pro_cont .limitqty {color:#979797;font-size:13px;}
#detail_view .pro_cont dl.total_price {border-top:solid 1px #e8e8e8;}
#detail_view .pro_cont dl.total_price dt {font-weight:bold;width:120px;font-size:16px;line-height:30px; padding:26px 0 34px;}
#detail_view .pro_cont dl.total_price .qbox {display:inline-block;vertical-align:top;position:relative;}
#detail_view .pro_cont dl.total_price .qbox .icons {display:inline-block;vertical-align:top;width:20px;height:20px;border:solid 1px #2a2727;border-radius:50%;text-align:center;font-size:13px;line-height:20px;margin:5px 0 0 5px;cursor:pointer;}
#detail_view .pro_cont dl.total_price .qbox .qboxlayer {display:none;position:absolute;left:-8px;top:-126px;width:288px;background-color:#fff;border:solid 1px #2a2727;border-radius:5px;z-index:1;-webkit-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);-moz-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);}
#detail_view .pro_cont dl.total_price .qbox .qboxlayer ul {padding:7px 14px 12px;}
#detail_view .pro_cont dl.total_price .qbox .qboxlayer li {font-size:13px;line-height:18px;color:#666;padding-left:15px;position:relative;font-weight:400;margin-top:6px;}
#detail_view .pro_cont dl.total_price .qbox .qboxlayer li:before {content:'※';position:absolute;left:0;top:0;}
#detail_view .pro_cont dl.total_price .qbox .qboxlayer:before {content:'';width:12px;height:10px;background:url(../imgs/global/arrow_qbox.png) left top no-repeat;position:absolute;bottom:-10px;left:20px;}
#detail_view .pro_cont dl.total_price .qbox:hover .qboxlayer {display:block;}
#detail_view .pro_cont dl.total_price dd {text-align:right;color:#f1454e;font-size:18px;line-height:30px; padding:26px 0 34px;}
#detail_view .pro_cont dl.total_price dd strong {font-size:28px;}
#detail_view .pro_cont dl.total_price dd .text {display:inline-block;vertical-align:top;margin-top:3px;}
#detail_view .pro_cont .cart_msg {display:none;position:absolute;bottom:92px;left:-20px;width:286px;height:136px;background-color:#fff;border:solid 1px #2a2727;border-radius:5px;z-index:1;-webkit-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);-moz-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);}
#detail_view .pro_cont .cart_msg:before {content:'';width:12px;height:10px;background:url(../imgs/global/arrow_qbox.png) left top no-repeat;position:absolute;bottom:-10px;left:50%;margin-left:-6px;}
#detail_view .pro_cont .cart_msg p {text-align:center;font-size:14px;line-height:24px;color:#666;padding-top:25px;}
#detail_view .pro_cont .cart_msg .btngo {display:block;width:126px;margin:9px auto 0;height:34px;line-height:34px;color:#fff;border-radius:17px;background-color:#0072bc;text-align:center;font-weight:700;}
#detail_view .pro_cont .cart_msg .btnclose {position:absolute;width:29px;height:29px;right:0;top:0;background:url(../imgs/global/layerclose.png) center center no-repeat;text-indent:-999em;}
#detail_view .pro_cont .buttons {height:70px;line-height:70px;font-size:22px;}
#detail_view .pro_cont .btnsoldout {width:100%;display:block;background-color:#fff;color:#999;border-color:#999;margin:0;font-weight:500;}
#detail_view .pro_cont .gift_box {display:table;margin-top:18px;}
#detail_view .pro_cont .gift_box .imgs,
#detail_view .pro_cont .gift_box .title {display:table-cell;vertical-align:middle;}
#detail_view .pro_cont .gift_box .title {line-height:22px;padding-left:10px;}
#detail_view .pro_cont .delivery {padding-left:24px;background:url(../imgs/icon/ico_clock.png) left center no-repeat;}

.detailslideprobox {margin-top:100px;position:relative;}
.detailslideprobox .head {position:relative;height:18px;margin-bottom:36px;}
.detailslideprobox .head:after {content:'';width:990px;height:1px;background-color:#eae9e9;position:absolute;right:0;top:8px;z-index:0;}
.detailslideprobox.detailsetproduct .head:after {width:calc(1100px - 84px);}
.detailslideprobox .head h3 {font-size:18px;color:#000;line-height:18px;font-weight:700;margin:0;padding:0;}
.detailslideprobox .head .swiper-box {display:none;}
.detailslideprobox .head .swiper-box.active {position:absolute;display:block;right:0;top:-8px;width:112px;height:32px;background-color:#fff;z-index:1;}
.detailslideprobox .swiper-button-prev2,
.detailslideprobox .swiper-button-next2 {position:absolute;top:50%;margin-top:-16px;width:30px;height:30px;outline:0;z-index:12;border:solid 1px #eaeaea;border-radius:50%;cursor:pointer;}
.detailslideprobox .swiper-button-prev2 {left:0;margin-left:0;background:url(../imgs/button/btn_swiper_prev_small.png) center center no-repeat;}
.detailslideprobox .swiper-button-next2 {right:0;margin-right:0;background:url(../imgs/button/btn_swiper_next_small.png) center center no-repeat;}
.detailslideprobox .swiper-container-horizontal>.swiper-pagination-bullets, .detailslideprobox .swiper-pagination-custom, .detailslideprobox .swiper-pagination-fraction {line-height:32px;color:#979797;bottom:0;}
.detailslideprobox .swiper-pagination-current {color:#444;}
.detailslideprobox .productList .products li {margin-top:0;}
.detailslideprobox .productList .products li .img_box .img {border:none 0;width:196px;height:196px;}
.detailslideprobox .productList .products.list5 li .info_box {height:86px;}
.detailslideprobox .productList .products li .info_box .goodsinfo {height:20px;}
.detailslideprobox .productList .products.list5 li .info_box .name {max-height:20px;-webkit-line-clamp:1;}
.detailslideprobox .productList .products .ea {margin-top:8px;}

.detailtabwrap {margin:50px 0 100px;position:relative;}
.detailtabwrap:before {content:'';width:410px;height:2px;background-color:#059ad9;position:absolute;top:58px;left:-410px;}
.detailtabwrap:after {content:'';width:410px;height:2px;background-color:#059ad9;position:absolute;top:58px;right:-410px;}
.detailtabwrap .tabs {height:60px;position:relative;}
.detailtabwrap .tabs:after {content:'';clear:both;display:block;}
.detailtabwrap .tabs li {float:left;width:50%;border-bottom:solid 2px #059ad9;height:58px;cursor:pointer;}
.detailtabwrap .tabs li span {display:block;border-top-left-radius:10px;border-top-right-radius:10px;overflow:hidden;text-align:center;background-color:#e8e8e8;font-size:18px;line-height:20px;padding:19px 0;}
.detailtabwrap .tabs li:hover,
.detailtabwrap .tabs li.active {border:none 0;height:60px;}
.detailtabwrap .tabs li:hover span,
.detailtabwrap .tabs li.active span {background-color:#fff;font-weight:700;color:#000;border:solid 2px #059ad9;border-bottom:none 0;padding:17px 0 21px;}
.detailtabwrap .tabscont {display:none;}
.detailtabwrap .tabscont.active {display:block;}
.detailtabwrap .banners {margin-top:40px;}
.detailtabwrap .detaileditorcont {margin-top:105px;text-align:left;}
.detailtabwrap .detailtable {width:100%;table-layout:fixed;border-top:solid 1px #f0f0f0;margin-top:70px;}
.detailtabwrap .detailtable th,
.detailtabwrap .detailtable td {text-align:left;color:#000;border-bottom:solid 1px #f0f0f0;line-height:18px;padding:20px 0 19px;vertical-align:top;}
.detailtabwrap .detailtable th {font-weight:700;}
.detailtabwrap .deliveryClaimInfo {margin-top:34px;}
.detailtabwrap .deliveryClaimInfo > dl {border-top:solid 1px #f0f0f0;padding:38px 0 34px;}
.detailtabwrap .deliveryClaimInfo > dl:first-child {border-top:none 0;}
.detailtabwrap .deliveryClaimInfo > dl > dt {font-weight:700;color:#000;font-size:20px;line-height:22px;}
.detailtabwrap .deliveryClaimInfo > dl > dd {color:#000;line-height:26px;margin-top:12px;}
.detailtabwrap img {max-width:100%;}
#detail_review>.w_btn,#detail_qna>.w_btn{position:absolute; display:block; top:83px;right:0; font-size:12px; background-color: #ff5963; color:#fff; padding:5px 20px;}

/* 상품상세 :: 상품평 */
.review_list{}
.review_list table{border-top:1px solid #ccd1d9}
.review_list thead{background:#f5f5f5; border-bottom:solid 1px #ccd1d9}
.review_list thead th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.review_list tbody th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.review_list tbody td{text-align:center;padding:20px; border-bottom:solid 1px #ccd1d9; word-break:break-all}
.review_list tbody td.title{text-align:left;padding:10px 10px 8px}
.review_list tbody td.title a{display:block; float:left; width:620px; word-break:break-all }
.review_list td.title .point{display:block;float:right; vertical-align:top; margin-top:7px;}
.review_list td.none{text-align:center;padding:20px;}
.review_list tr.article{display:none}
.review_list tr.article td{text-align:left;}
.review_list tr.article td div{padding:10px 0 0}
.review_list tr.article td div.photo{padding:0;overflow:hidden}
.review_list tr.article td div.answer{position:relative;color:#444;margin-top:10px;background:#fff;border:solid 1px #ddd;padding:10px;overflow:hidden}
.review_list tr.article td div.answer>span{position:absolute;left:10px;top:10px; color:#999;}
.review_list tr.article td div.answer p{padding:0px 0 0 40px}
.review_list tr.article td div.answer .remove{padding:0;margin-top:5px;text-align:right}
.review_list tr.article td div.answer .remove a{padding:5px 10px; color:#fff;}
.review_list tr.article td div.btns{margin-top:25px;text-align:right}
.review_list tr.article td div.btns a{display:inline-block; font-size:14px; color:#fff; padding:10px 20px; line-height:14px; margin-right:4px;}
.review_list tr.article td div.space{height:10px;font-size:0;line-height:0;padding:0}
.review_write{display:none}
.review_write table{border-top:1px solid #ccd1d9}
.review_write thead{background:#f5f5f5; border-bottom:solid 1px #ccd1d9}
.review_write thead th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.review_write tbody th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.review_write tbody td{text-align:left;padding:20px; border-bottom:solid 1px #ccd1d9; word-break:break-all}
.review_write .btn_con{margin:20px 0 30px}

/* 상품상세 :: 상품Q&A */
.qna_list{}
.qna_list table{border-top:1px solid #ccd1d9}
.qna_list thead{background:#f5f5f5; border-bottom:solid 1px #ccd1d9}
.qna_list thead th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.qna_list tbody th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.qna_list tbody td{text-align:center;padding:20px; border-bottom:solid 1px #ccd1d9; word-break:break-all}
.qna_list tbody td.title{text-align:left;padding:10px 10px 8px}
.qna_list tbody td.title a{display:block; float:left; width:680px; word-break:break-all }
.qna_list tbody td.title a img{margin-left:10px;}
.qna_list td.none{text-align:center;padding:20px;}
.qna_list tr.article{display:none}
.qna_list tr.article td{text-align:left;}
.qna_list tr.article td div{padding:10px 0 0}
.qna_list tr.article td div.photo{padding:0;overflow:hidden}
.qna_list tr.article td div.answer{position:relative;color:#444;margin-top:10px;background:#fff;border:solid 1px #ddd;padding:10px;overflow:hidden}
.qna_list tr.article td div.answer>span{position:absolute;left:10px;top:10px; color:#999;}
.qna_list tr.article td div.answer p{padding:0px 0 0 40px}
.qna_list tr.article td div.answer .remove{padding:0;margin-top:5px;text-align:right}
.qna_list tr.article td div.answer .remove a{padding:5px 10px; color:#fff;}
.qna_list tr.article td div.btns{margin-top:25px; text-align:right}
.qna_list tr.article td div.btns a{display:inline-block; font-size:14px; color:#fff; padding:10px 20px; line-height:14px; margin-right:4px;}
.qna_list tr.article td div.space{height:10px;font-size:0;line-height:0;padding:0}
.qna_write{display:none}
.qna_write table{border-top:1px solid #ccd1d9}
.qna_write thead{background:#f5f5f5; border-bottom:solid 1px #ccd1d9}
.qna_write thead th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.qna_write tbody th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.qna_write tbody td{text-align:left;padding:20px; border-bottom:solid 1px #ccd1d9; word-break:break-all}
.qna_write .btn_con{margin:20px 0 30px}

/* best review */
.best_review{overflow:hidden;border:solid 1px #ddd;border-top:solid 2px #ca1818}
.best_review li{float:left;width:198px;border-right:solid 1px #ddd;height:360px;text-align:center}
.best_review li.last{border-right:0}
.best_review li .no_img{display:block;margin:15px 0 0}
.best_review li p{width:180px;background:#f2f2f2;margin:0 auto;text-align:left;padding:8px 0 3px}
.best_review li p span{display:block;margin-bottom:5px;padding:0 10px}
.best_review li div{padding:5px 0;width:180px;border-bottom:solid 1px #ddd;margin:0 auto;text-align:left;font-size:11px}
.best_review li div img{margin-left:5px}
.best_review li p.review{background:#fff;font-size:11px;padding:8px 0 0 0}
.best_review li p.review a{display:block;background:url(../imgs/icon/bul_red_square2.gif) 6px 6px no-repeat;padding-left:12px;color:#999}

/* 검색 */
.product_search{margin:18px 0 0;padding:16px 0 18px;border-top:1px solid #ccc;background:url(../imgs/goods/bg_ctgSub_search.png) 0 bottom no-repeat;text-align:center}
.product_search strong{margin-right:9px}
.product_search button{margin-left:3px;vertical-align:middle}
.product_search input{border:solid 1px #ddd;padding:2px}

/* 리스트 정렬기준 */
.product_align{height:18px;margin:15px 0;text-align:right}
.product_align .cartView{float:left;margin:-1px 0 0}
.product_align .cartView img{float:left}
.product_align select{height:18px;margin:0 4px 0 0;font-size:11px;color:#666}

/* 이벤트 배열에 맞게 수정 */
.common_product.list2 {margin-left:-50px;}
.common_product.list2 li {width:475px;margin-left:50px;margin-bottom:50px;}
.common_product.list2 li a.link_box .thumb_box {width:475px;height:475px;}
.common_product.list3 {margin-left:-20px;}
.common_product.list3 li {width:320px;margin-left:20px;margin-bottom:20px;}
.common_product.list3 li a.link_box .thumb_box {width:320px;height:320px;}
.common_product.list5 {margin-left:-20px;}
.common_product.list5 li {width:184px;margin-left:20px;margin-bottom:20px;}
.common_product.list5 li a.link_box .thumb_box {width:184px;height:184px;}

/* 이벤트 쿠폰 */
.coupon_event.list2 .coupon_img {width:475px;height:475px;}
.coupon_event.list3 .coupon_img {width:320px;height:320px;}
.coupon_event.list5 .coupon_img {width:184px;height:184px;}
.coupon_event .coupon_qty {padding:15px 10px 0;text-align:center;font-size:14px;line-height:20px;}
.coupon_event .coupon_qty strong {font-family:'Nanum Gothic Bold';color:#000}

/* 베스트상품,신상품,추천상품,브랜드샵 */
.box_ctg_big {margin:0 0 30px;}

/* top best5 */
.best_seller_box {border:solid 1px #ccc;}
.best_seller_box ul {overflow:hidden;}
.best_seller_box li {float:left;width:333px;height:350px;border-left:solid 1px #ccc;margin-left:-2px;text-align:center;position:relative;padding-top:25px;}
.best_seller_box li .thumb_box {display:block;width:220px;margin:0 auto;}
.best_seller_box li .thumb_box img {width:220px;height:220px;}
.best_seller_box li > p {width:210px;margin:10px auto 0;}
.best_seller_box .ranking_first {display:block;position:absolute;left:56px;top:25px;z-index:3}

/* product list (베스트상품,신상품,추천상품,브랜드샵) */
.ctg_product_list{margin-bottom:30px;position:relative}
.ctg_product_list .common_product {margin-left:-20px;}
.ctg_product_list .common_product li {width:184px;margin-left:20px;margin-bottom:20px;position:relative;}
.ctg_product_list .common_product li a.link_box .thumb_box {width:184px;height:184px;}
.ctg_product_list .ranking_small{position:absolute;left:0;top:0;z-index:1} /*랭킹 순위 이미지 */

/* 브랜드샵 */
#goods_brand{margin-bottom:91px}
#goods_brand ul{overflow:hidden}
#goods_brand ul li{float:left;margin:0 20px 20px 0}

/* 기획전, 프로모션 */
.eventtitle {margin-bottom:20px;}
.eventtitle h2 {font-size:24px;color:#000;margin:0;padding:0;border-bottom:solid 1px #e8e8e8;line-height:24px;padding-bottom:20px;text-align:center;}
.eventtitle .info {margin-top:20px;color:#535e78;overflow:hidden;}
.eventtitle .info > div {float:left;}
.eventtitle .info .time {margin-right:10px;height:48px;background-color:#535e78;border-radius:24px;color:#fff;}
.eventtitle .info .time dl {padding:8px 23px;height:32px;line-height:32px;overflow:hidden;}
.eventtitle .info .time dt {float:left;width:91px;font-size:18px;background:url(../imgs/goods/icon_time.png) left center no-repeat;padding-left:26px;}
.eventtitle .info .time dd {float:left;width:34px;position:relative;margin-left:21px;font-family:'Roboto', sans-serif;text-align:center;color:#535e78;font-weight:700;font-size:18px;background-color:#f2f2f2;border-radius:2px;}
.eventtitle .info .time dd:before,
.eventtitle .info .time dd:after {content:'';width:5px;height:4px;background-color:#fff;border-radius:50%;position:absolute;left:-13px;top:8px;}
.eventtitle .info .time dd:after {top:20px;}
.eventtitle .info .time dd.first {margin-left:0;}
.eventtitle .info .time dd.first:before,
.eventtitle .info .time dd.first:after {display:none;}
.eventtitle .info .term {font-size:18px;line-height:48px;font-weight:700;}
.eventtitle .info .count {float:right;font-size:16px;line-height:48px;}
.event_contents {}
.eventtabbox {margin-top:50px;overflow:hidden;}
.eventtabbox ul {position:relative;background-color:#fff;}
.eventtabbox ul:after {content:'';display:block;clear:both;}
.eventtabbox ul:before {content:'';border:solid 1px #e8e8e8;position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;z-index:0;}
.eventtabbox ul li {float:left;width:25%;position:relative;z-index:1;margin:-1px -1px 0 0;border:solid 1px #e8e8e8;border-left:none 0;}
.eventtabbox ul li a {display:block;text-align:left;font-size:16px;line-height:18px;padding:15px 20px;}
.eventtabbox ul li.active {background-color:#fafafa;}
.eventtabbox ul li.active a {color:#059ad9;font-weight:700;}
.eventtabbox ul li.active:after {content:'';display:block;width:100%;height:100%;border:solid 1px #059ad9;position:absolute;left:0;top:0;box-sizing:border-box;}
.pfix{
    z-index: 10;
    position: fixed !important;
    top: 0;
    width: 1100px;
}
.productList.eventlist {margin-top:22px;}
.eventlimit {color:#979797;margin-top:20px;}
.event_cont .ctg_title {background-color:#f7f7f7;border-radius:10px;font-size:16px;color:#000;line-height:20px;padding:22px 20px 18px;}

/* 프로모션 상품리스트 */
.promotion_list {margin-top:50px;}
.promotion_list > ul {border-top:solid 1px #e8e8e8;}
.promotion_list > ul > li {display:table;width:100%;border-bottom:solid 1px #e8e8e8;table-layout:fixed;}
.promotion_list > ul > li > div {display:table-cell;padding:25px 0;vertical-align:middle;}
.promotion_list .img_box {width:183px;}
.promotion_list .img_box a {display:block;width:141px;height:141px;margin:0 auto;position:relative;border:solid 1px #e8e8e8;border-radius:10px;overflow:hidden;}
.promotion_list .img_box .img {display:block;width:141px;height:141px;}
.promotion_list .img_box .soldoutbox {position:absolute;left:0;top:0;width:100%;height:100%;text-indent:-999em;background-color:rgba(255,255,255,0.85);border-radius:10px;overflow:hidden;}
.promotion_list .img_box .soldoutbox:after {content:'';position:absolute;left:0;top:50%;width:100%;height:14px;margin-top:-7px;background:url(../imgs/global/soldout_text_small.png) center center no-repeat;;}
.promotion_list .img_box .finance {position:absolute;left:0;bottom:0;}
.promotion_list .info_box {width:auto;padding-right:60px;}
.promotion_list .info_box .name {display:block;font-weight:700;font-size:18px;color:#000;line-height:24px;}
.promotion_list .info_box .summary {display:block;line-height:20px;color:#979797;margin-top:7px;}
.promotion_list .info_box ul {margin-top:13px;}
.promotion_list .info_box li {line-height:20px;color:#979797;}
.promotion_list .price_info {width:316px;border-left:solid 1px #e8e8e8;}
.promotion_list .price_info .marketPrice {width:256px;margin:0 auto;}
.promotion_list .price_info .marketPrice .price {width:198px;text-align:right;color:#979797;line-height:14px;}
.promotion_list .price_info dl {width:256px;margin:15px auto 0;display:table;table-layout:fixed;}
.promotion_list .price_info dt,
.promotion_list .price_info dd {display:table-cell;text-align:right;color:#000;line-height:20px;vertical-align:middle;}
.promotion_list .price_info dt {width:100px;}
.promotion_list .price_info dd.price {width:98px;}
.promotion_list .price_info dd.price strong {display:inline-block;vertical-align:middle;font-size:20px;}
.promotion_list .price_info dd.price .won {display:inline-block;vertical-align:middle;}
.promotion_list .price_info dd.sale > span {display:inline-block;vertical-align:top;height:18px;line-height:19px;padding:0 8px;color:#f24049;border:solid 1px #ff5a63;border-radius:10px;background-color:#fff;text-align:center;}
.promotion_list .order_info {width:189px;border-left:solid 1px #e8e8e8;}
.promotion_list .order_info .num_nav_box {width:85px;padding:0 29px;border:solid 1px #2a2727;border-radius:15px;position:relative;margin:0 auto;}
.promotion_list .order_info .num_nav_box .num_nav .up {width:29px;height:30px;position:absolute;right:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_up2.png) center center no-repeat}
.promotion_list .order_info .num_nav_box .num_nav .dn {width:29px;height:30px;position:absolute;left:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_dn2.png) center center no-repeat}
.promotion_list .order_info .num_nav_box input {display:block;width:83px;border:none 0;border-radius:0;border-left:solid 1px #2a2727;border-right:solid 1px #2a2727;height:30px;padding:0;margin:0;background:#fff;font-size:16px;text-align:center;color:#222;}
.promotion_list .order_info .limit {text-align:center;font-size:13px;line-height:14px;margin-top:10px;color:#000;}
.promotion_list .order_info .orderbox {width:145px;margin:0 auto;}
.promotion_list .order_info .orderbox a {display:block;margin-top:20px;text-align:center;height:38px;font-weight:700;line-height:38px;color:#0072bc;border-radius:20px;border:solid 1px #0072bc;}

.inproductbox {margin-top:80px;border-top:solid 2px #000;border-bottom:solid 2px #000;}
.inproductbox > ul {display:table;width:100%;table-layout:fixed;}
.inproductbox > ul > li {display:table-cell;padding:5px 0 30px;vertical-align:middle;}
.inproductbox .list dl {padding:0 30px 0 20px;margin-top:20px;overflow:hidden;}
.inproductbox .list dl dt,
.inproductbox .list dl dd {float:left;text-align:right;padding:6px 0;line-height:20px;color:#000;}
.inproductbox .list dl dt  {width:320px;text-align:left;color:#000;font-weight:700;font-size:18px;}
.inproductbox .list .marketPrice {width:126px;color:#979797;}
.inproductbox .list .marketPrice span {text-decoration:line-through;}
.inproductbox .list .price {width:120px;}
.inproductbox .list .price strong {display:inline-block;vertical-align:middle;font-size:20px;}
.inproductbox .list .price .won {display:inline-block;vertical-align:middle;}
.inproductbox .list .sale {width:58px;margin-left:10px;text-align:left;}
.inproductbox .list .sale > span {display:inline-block;vertical-align:top;height:18px;line-height:19px;padding:0 5px;color:#f24049;border:solid 1px #ff5a63;border-radius:10px;background-color:#fff;text-align:center;}
.inproductbox .list .numbox {width:155px;padding:0;}
.inproductbox .list .num_nav_box {display:inline-block;vertical-align:top;width:85px;padding:0 29px;border:solid 1px #2a2727;border-radius:15px;position:relative;text-align:left;}
.inproductbox .list .num_nav_box .num_nav .up {width:29px;height:30px;position:absolute;right:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_up2.png) center center no-repeat}
.inproductbox .list .num_nav_box .num_nav .dn {width:29px;height:30px;position:absolute;left:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_dn2.png) center center no-repeat}
.inproductbox .list .num_nav_box input {display:block;width:83px;border:none 0;border-radius:0;border-left:solid 1px #2a2727;border-right:solid 1px #2a2727;height:30px;padding:0;margin:0;background:#fff;font-size:16px;text-align:center;color:#222;}
.inproductbox .list .delete {width:60px;padding:0;}
.inproductbox .list .delete .btn_delete {display:inline-block;vertical-align:top;border:solid 1px #ddd;border-radius:15px;width:49px;height:30px;text-indent:-999em;text-align:left;background:#fff url(../imgs/global/icon_delete.png) center center no-repeat;}
.inproductbox .total {width:199px;border-left:solid 1px #e8e8e8;background-color:#e6f5fb;text-align:center;padding:20px 0;}
.inproductbox .total dt {text-align:center;color:#000;font-weight:700;}
.inproductbox .total dd {text-align:center;font-size:16px;margin-top:6px;}
.inproductbox .total dd strong,
.inproductbox .total dd .won {display:inline-block;vertical-align:middle;line-height:30px;}
.inproductbox .total dd strong {font-size:30px;}
.inproductbox .total .order {display:block;width:145px;margin:20px auto 0;text-align:center;height:38px;font-weight:700;line-height:38px;color:#fff;border-radius:20px;border:solid 1px #0072bc;background-color:#0072bc;}
/* 20240522 수정사항 반영 */
#navi.none_arrow > li {
}

#navi.none_arrow button.ctg {
  background: none;
  padding-right: 0;
}
.category_title_area.prod_type .category_title {
}
/* .category_title_area.prod_type .category_title .tit {
  width: auto;
  line-height: 24px;
} */
.find_product_area .find_product_title {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.72px;
  padding: 20px 0 16px;
  border-top: 1px solid #e1e3e9;
}
.find_product_area.choice-area .choice-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e3e9;
  position: relative;
}
.find_product_area.choice-area .choice-top > span {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: -0.56pxs;
}
.find_product_area.choice-area .choice-top .mCustomScrollbar{
  max-height: 120px;
}
.find_product_area.choice-area .find_product_title {
  border-top: 0;
}
.find_product_area.choice-area .tab-menu {
  margin-bottom: 40px;
}
.find_product_area.choice-area .tab-menu li {
  position: relative;
  margin-right: 16px;
}
.find_product_area.choice-area .tab-menu[data-target='tab-category'] li  {
  margin-right: 24px;
}
.find_product_area.choice-area .choice-remove {
  width: 16px;
  height: 16px;
  background: url(../img/common/ico/btn_del.png) 50% no-repeat;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -16px;
}
.find_product_area.choice-area .clear-all {
  color: #717b8a;
  margin-top:2px;
}
