@charset "utf-8";

#container {margin-top:0;padding-top:30px;}
#container:before {position:absolute;left:50%;top:0;z-index:0;width:1920px;height:119px;margin-left:-960px;background-color:#e6f5fb}

.section {margin-top:70px;position:relative;}
h3 {font-size:24px;color:#000;font-weight:400;line-height:25px;margin-bottom:28px;}
h3 small {display:inline-block;vertical-align:bottom;font-size:14px;line-height:15px;margin-left:16px;}
h3 .summary {display:inline-block;vertical-align:bottom;font-size:14px;color:#979797;line-height:15px;margin-left:16px;padding-left:21px;position:relative;}
h3 .summary:before {content:'';width:1px;height:20px;background-color:#e8e8e8;position:absolute;left:0;bottom:0;}
h4 {font-size:20px;color:#000;font-weight:700;line-height:21px;margin:50px 0 18px;position:relative;}
.title_summary {margin-bottom:18px;}
.title_summary:after {content:'';clear:both;display:block;}
.title_summary h4 {float:left;margin:0;}
.title_summary .summary {float:left;font-size:15px;color:#000;line-height:17px;margin-left:10px;letter-spacing:-0.5px;padding-top:4px;}
.title_summary .summary .red {font-weight:500;}
.morelink {position:absolute;right:0;top:8px;color:#000;padding-right:13px;}
.morelink:after {content:'';width:5px;height:5px;border:solid 1px #444;border-left-width:0;border-bottom-width:0;transform:rotate(45deg);position:absolute;right:0;top:50%;margin-top:-5px;}
.layerbtn {position:absolute;right:0;top:-11px;}
.layerbtn button,
.layerbtn a {display:inline-block;vertical-align:top;border-radius:5px;height:35px;line-height:35px;text-align:center;padding:0 15px;color:#fff;background-color:#535e78;font-weight:700;font-size:14px;}
.layerbtn .blue {background-color:#059ad9}
.layerbtn.top {top:0;}
.buttonwrap {margin-top:70px;}

h3.blueline {border-bottom:solid 2px #059ad9;padding-bottom:20px;}

.promotion {display:inline-block;vertical-align:bottom;background-color:#fba92d;height:20px;padding:0 5px;color:#fff;border-radius:3px;font-size:12px;line-height:18px;margin-top:6px;}



/* 나의 정보와 메뉴 */
.myinfobox {position:relative;z-index:1;border:solid 2px #059ad9;border-radius:10px;background-color:#fff;overflow:hidden;padding:3px 38px 36px;}
.myinfobox:before {content:'';width:100%;height:3px;background-color:#059ad9;position:absolute;left:0;top:0;}
.myinfobox .info {border-bottom:solid 1px #f0f0f0;padding:39px 0 33px;}
.myinfobox .info ul {overflow:hidden;}
.myinfobox .info li {float:left;width:316px;color:#000;}
.myinfobox .info li.money {float:left;width:702px;overflow:hidden;}
.myinfobox .info li.money dl {float:left;padding-left:76px;height:54px;}
.myinfobox .info li.money .info1 {width:182px;background:url(../imgs/mypage/icon_myinfo1.png) left center no-repeat;}
.myinfobox .info li.money .info2 {width:188px;background:url(../imgs/mypage/icon_myinfo2.png) left center no-repeat;}
.myinfobox .info li.money .info3 {width:104px;background:url(../imgs/mypage/icon_myinfo3.png) left center no-repeat;}
.myinfobox .info li.money dt {font-weight:700;line-height:16px;padding-top:5px;}
.myinfobox .info li.money dd {font-size:16px;color:#059ad9;margin-top:8px;}
.myinfobox .info li.money dd strong {font-size:24px;}
.myinfobox .info h2 {margin:0;padding:0;font-size:28px;line-height:30px;color:#000;font-weight:700;}
.myinfobox .info .name {line-height:16px;margin-top:10px;}
.myinfobox .menu {margin-top:27px;display:table;width:100%;}
.myinfobox .menu li {display:table-cell;width:165px;border-right:solid 1px #f0f0f0;vertical-align:top;text-align:center;padding:6px 0;}
.myinfobox .menu li a {color:#000;line-height:24px;display:inline-block;vertical-align:top;}
.myinfobox .menu li .active {font-weight:700;color:#059ad9;padding-right:16px;background:url(../imgs/mypage/arrow_menu.png) right center no-repeat;}
.myinfobox .menu li.order {width:258px;text-align:left;}
.myinfobox .menu li.pay {width:261px;text-align:left;padding-left:38px;}
.myinfobox .menu li .flexbox {display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
.myinfobox .menu li.last {border-right:none 0;padding-left:30px;width:95px;}
.myinfobox .menu li .alone {dipslay:inline-block;vertical-align:top;font-size:16px;color:#000;font-weight:bold;}
.myinfobox .menu li .alone.active {color:#059ad9;}
.myinfobox .menu li dl {position:relative;padding-left:78px;}
.myinfobox .menu li dl dt {position:absolute;left:0;top:0;font-size:16px;color:#000;font-weight:bold;line-height:24px;}
.myinfobox .menu li dl dd {line-height:24px;}
.myinfobox .menu li .count {display:block;margin-top:5px;}
.myinfobox .menu li .count span {text-decoration:underline;}

.deposit_title { display: flex;flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 36px;}
.deposit_title h3 { margin: 0;}
.deposit_title > div { display: flex;flex-direction: row; align-items: center;}
.deposit_title .possible_deposit { font-family: Pretendard; font-size: 15px; font-weight: 300; line-height: 15px; letter-spacing: -0.04em; }
.deposit_title .deposit_charge_button {margin-left: 24px; height: 32px; padding: 0px 16px 0px 16px; gap: 8px; border-radius: 16px; border: 1px solid #FF4949; font-family: Pretendard; font-size: 14px; font-weight: 300; line-height: 14px; letter-spacing: -0.04em;  color: #FF4949; }
.none_list { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%;}
.none_list .deposit_charge_button_blue { margin-top: 40px; width: 240px; height: 48px; padding: 16px; gap: 8px; border-radius: 12px;	background-color: #0072BC;  font-family: Pretendard; font-size: 16px; font-weight: 600; line-height: 16px; letter-spacing: -0.04em; color: #FFFFFF; text-align: center; box-sizing: border-box;}
.none_list .empty_deposit_list_txt { font-family: Pretendard; font-size: 16px; font-weight: 300; line-height: 16px; letter-spacing: -0.04em; color: #222222; }

.amount_box {text-align:center;}
.amount_box .num_nav_box {width:52px;padding:0 29px;border:solid 1px #2a2727;border-radius:15px;position:relative;margin:0 auto;}
.amount_box .num_nav_box .num_nav .up {width:28px;height:30px;position:absolute;right:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_up2.png) center center no-repeat}
.amount_box .num_nav_box .num_nav .dn {width:28px;height:30px;position:absolute;left:0;top:0;text-indent:-999em;background:url(../imgs/global/num_nav_dn2.png) center center no-repeat}
.amount_box .num_nav_box input {display:block;width:52px;border:none 0;border-left:solid 1px #2a2727;border-right:solid 1px #2a2727;border-radius:0;height:30px;padding:0;margin:0;background:#fff;font-size:16px;text-align:center;color:#222;}
.amount_box .limit {font-size:13px;color:#000;margin-top:14px;}

.horizontal_partition { height: 1px; background-color: #e1e3e9; margin: 24px 0; }
.drug_horizontal_partition {height: 1px; background-color: #e1e3e9; margin: 16px 0 50px; }
.mypage_cart {display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 32px 40px; margin-top: 50px; border: 1px solid #1293E7; border-top: 5px solid #1293E7; border-radius: 8px;}
.mypage_cart .mypage_order .mypage_order_text {font-size: 15px;}
.mypage_cart .mypage_order .mypage_order_amount {font-size: 26px; font-weight: 700; margin-left: 40px;}
.mypage_cart .titbtn button {float:left;width:77px;height:40px;text-align:center;border:1px solid #dee1e7;background:#fff;border-radius:2px;}
.mypage_cart .titbtn .cart {width: 160px; height: 48px; background-color:#0072bc; color: #ffffff; border-radius: 12px;}
.mypage_cart .titbtn .gocart {width: 160px; height: 48px; background-color:#ffffff; color: #0072bc; border: 1px solid #0072bc; border-radius: 12px; margin-left: 8px;}

.btn_center { width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;}
.btn_center .inbtn { padding: 11px 18px; border-radius: 4px; border: 1px solid #535E78; font-family: Noto Sans CJK KR; font-size: 13px; font-weight: 700; line-height: 13px; letter-spacing: -0.04em; color: #535E78; }

.company_name { font-family: Noto Sans CJK KR; font-size: 18px; font-weight: 700; line-height: 18px; letter-spacing: -0.04em; color: #000000;}
.drug_price_summary { padding: 20px 40px; border-radius: 12px; background-color: #F7F7F7; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.drug_price_summary .vertical_partition { width: 1px; height: 15px; background-color: #D8DDE9; margin: 0 28px; }
.drug_price_summary .drug_price_summary_title { font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.04em; margin: 0 10px 0 0;}
.drug_price_summary .drug_price_summary_amount { font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 900; line-height: 15px; letter-spacing: -0.04em; }
.drug_price_summary .drug_price_summary_price { font-family: Noto Sans CJK KR; font-size: 14px; font-weight: 400; line-height: 14px; letter-spacing: -0.04em; }
.drug_price_detail_table_wrapper { margin: 28px 0 0; }
.drug_price_detail_table_wrapper table th {padding: 17.5px 16px !important;}
.drug_price_detail_table_wrapper table td {padding: 17.5px 16px !important;}

.contract_service_notice { margin: 28px 0; padding: 24px 40px; background-color: #f7f7f7; }
.contract_service_notice .contract_service_notice_title { font-size: 20px; font-weight: 500;}
.contract_service_notice .contract_service_notice_comment { font-size: 15px; font-weight: 400; letter-spacing: -0.04em; }
.contract_service_notice .contract_comment_wrapper {padding-left: 16px; margin: 14px 0;} 
.contract_service_notice .contract_comment_wrapper .gap {margin:14px 0 0 ;}
.contract_service_notice .contract_comment_wrapper .contract_service_notice_comment2 { font-size: 15px; font-weight: 400; letter-spacing: -0.04em; color: #979797; list-style-type: disc;}

.contract_service_info_tb { border-top: 1px solid #000000; border-bottom: 1px solid #e0e0e0; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;}
.contract_service_info_tb .side_border { border-right: 1px solid #e0e0e0;}
.contract_service_info_tb .contract_service_content { padding: 24px 30px; width: 33%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
.contract_service_info_tb .contract_service_content .contract_service_content_title { font-size: 18px; font-weight: 700; margin-bottom: 8px; }
.contract_service_info_tb .contract_service_content .contract_service_info {width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; margin-top: 16px;}
.contract_service_info_tb .contract_service_content .contract_service_info .contract_service_info_txt { font-size: 15px; font-weight: 400; }
.contract_service_info_tb .contract_service_content .contract_service_info .contract_service_info_txt .contract_service_info_bold{ font-size: 15px; font-weight: 900;}
.contract_goods td {text-align: left; align-items: left;}
.contract_goods .contract_goods_title { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; font-family: Noto Sans CJK KR; font-size: 14px; font-weight: 400; line-height: 14px; letter-spacing: -0.04em;}
.contract_goods .contract_goods_img {width: 80px; height: 80px; margin-right; 8px;}
.table_ver {border-top:solid 1px #000;margin:0;}
.table_ver .nonedata {text-align:center;padding:140px 0;border-bottom:none 0;}
.table_ver .nonedata .text {color:#979797;text-align:center;padding-top:85px;background:url(../imgs/global/icon_none.png) center top no-repeat;}
.table_ver .nonedata.card .text {padding-top:63px;line-height:26px;background:url(../imgs/global/icon_nocard.png) center top no-repeat;}
.table_ver thead {border-bottom:none 0;background-color:#f7f7f7;}
.table_ver thead th {padding:15px 0;border-bottom:none 0;background-color:#f7f7f7;}
.table_ver tbody td {border-bottom:solid 1px #e8e8e8;color:#000;line-height:18px;padding:18px 0 17px;}
.table_ver tbody td a {color:#000;}
.table_ver tbody td.text_left {padding-left:25px;}
.table_ver.orderlist tbody {border-bottom:solid 1px #e8e8e8;}
.table_ver.orderlist tbody td {padding:0 0 10px;border-bottom:none 0;color:#000;line-height:24px;}
.table_ver.orderlist tbody td a {color:#000;}
.table_ver.orderlist tbody tr:first-child > td {padding-top:20px;}
.table_ver.orderlist tbody tr:last-child > td {padding-bottom:20px;}
.table_ver.orderlist tbody .date {display:block;}
.table_ver.orderlist tbody .ordercnt {font-weight:500;}
.table_ver.orderlist tbody .ordernum {display:inline-block;padding-right:11px;text-decoration:underline;background:url(../imgs/mypage/arrow_ordernum.png) right center no-repeat;}
.table_ver.orderlist tbody .imgbox {display:block;width:78px;height:78px;border:solid 1px #e8e8e8;border-radius:5px;overflow:hidden;}
.table_ver.orderlist tbody .imgbox img {dispaly:block;width:78px;height:78px;}
.table_ver.orderlist tbody .infobox {text-align:left;padding-left:15px !important;}
.table_ver.orderlist tbody .infobox .name {display:block;font-size:16px;}
.table_ver.orderlist tbody .infobox .cate {color:#979797;margin-top:2px;}
.table_ver tbody .price .roboto,
.table_ver tbody .price .won {display:inline-block;vertical-align:middle;}
.table_ver tbody .price .roboto {font-size:16px;}
.table_ver td .inbtn {display:block;margin:4px auto 0;width:56px;height:25px;background-color:#fff;border-radius:3px;border:solid 1px #000;font-size:13px;color:#000;text-align:center;line-height:24px;}
.table_ver td .inbtn.h35 {margin-top:0;height:35px;line-height:34px;}
.table_ver td .claimdate {display:block;text-align:center;font-size:13px;color:#979797}

.block_wish {margin:0 auto;display:block;width:32px;height:31px;border:solid 1px #ededed;border-radius:50%;background:#fff;text-indent:-999em;position:relative;}
.block_wish:after {content:'';width:17px;height:17px;position:absolute;top:6px;left:8px;background:url(../imgs/global/bg_wishbox.png) center bottom no-repeat;}
.block_wish.active:after {background-position:center top;}

/* search_box */
.search_box{margin:0 0 44px;box-sizing:border-box;background-color:#f7f7f7;border-radius:10px;width:100%;padding:19px 30px 18px 40px;}
.search_box:after {content:'';clear:both;display:block;}
.search_box dl{float:left;display:table;table-layout:fixed;}
.search_box dl:after {content:'';clear:both;display:block;}
.search_box dl.date {width:692px;}
.search_box dl.date2 {width:100%;}
.search_box dl.dealer {margin-right: 10px;}
.search_box dl.name {float:right;width:286px;}
.search_box dl dt{display:table-cell;width:36px;font-weight:700;color:#000;text-align:left;vertical-align:middle;line-height:35px;}
.search_box dl dd{display:table-cell;width:700px;text-align:left;vertical-align:middle;}
.search_box dl dd:after {content:'';clear:both;display:block;}
.search_box dl.name dt {width:46px;}
.search_box dl.name dd {width:170px;}
.search_box dl.dealer dt {width: 70px;}
.search_box dl.dealer dd {width: 170px;}
.search_box dl.dealer dd select {padding: 0; width: 280px;}
.search_box dl.productType dt {width: 70px;}
.search_box dl.productType dd {width: 170px;}
.search_box dl.productType dd select {padding: 0; width: 280px;}
.search_box dl dd .inbtn {display:block;width:60px;height:35px;border-radius:5px;text-align:Center;color:#fff;font-weight:700;background-color: #0072BC;}
.search_box .radio_con {float:left;width:296px;height:35px;margin-right:20px;overflow:hidden;}
.search_box .radio_con label{float:left;display:inline-block;height:35px;line-height:35px;width:20%;box-sizing:border-box;background-color:#fff;border:1px solid #dee1e7;border-left:none 0;text-align:center;font-size:14px; color:#979797;}
.search_box .radio_con label.first {border-left:1px solid #dee1e7;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search_box .radio_con label.last {border-top-right-radius:5px;border-bottom-right-radius:5px;}
.search_box .radio_con input[type=radio]:checked+label {color:#fff; background-color: #0072BC;}
.search_box .calendar_con{float:left;margin-right:20px;}
.search_box .calendar_con:after {content:'';clear:both;display:block;}
.search_box .calendar_con .box {float:left;position:relative;}
.search_box .calendar_con .box input{display:block;width: 140px; height:35px;line-height:35px;margin:0;color:#000;font-family:'Roboto', sans-serif; border-radius: 4px;}
.search_box .calendar_con .box button {position:absolute;right:0;top:0;width:100%;height:35px;text-align:right;}
.search_box .calendar_con .box button img {margin-right:12px}
.search_box .calendar_con .box.last {margin-left:20px;}
.search_box .calendar_con .box.last:before {content:'~';position:absolute;left:-20px;top:0;width:20px;line-height:35px;color:#000;text-align:Center;}
.search_box dl.date dd .inbtn {float:left;width:60px;}
.search_box .search {position:relative;padding-right:70px;}
.search_box .search input{display:block;margin:0;width: 174px; height:35px;line-height:35px;color:#000; border-radius: 4px;}
.search_box .search button{width:60px; padding:0; margin:0; position:absolute;right:0;top:0}
.search_box .datetype {width:100%;float:left;margin-bottom:13px;}
.search_box .datetype select {width:178px;margin-left:36px;}

.button_wrapper {width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; margin: -24px 0 20px;}
.button_wrapper button.searchBtn {display:block;width:240px;height:35px;border-radius:5px;text-align:Center;color:#fff;font-weight:700;background-color:#0072BC;margin-right: 10px;}
.button_wrapper button.resetBtn {display:block;width:240px;height:35px;color: #0072BC; border: 1px solid #0072BC;border-radius:5px;text-align:Center;font-weight:700;background-color:#ffffff;}

.confirm_button_wrapper {width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 24px 0;}
.confirm_button_wrapper button.confirmBtn {display:block;width:240px;height:35px;border-radius:5px;text-align:Center;color:#fff;font-weight:700;background-color:#0072BC;margin-right: 10px;}
.confirm_button_wrapper button.cancelBtn {display:block;width:240px;height:35px;color: #0072BC; border: 1px solid #0072BC;border-radius:5px;text-align:Center;font-weight:700;background-color:#ffffff;}

.deposit_charge .price h3 { font-family: Pretendard; font-size: 24px; font-weight: 700; line-height: 24px; letter-spacing: -0.04em; color: #0072BC; margin: 0;}
.deposit_charge .price .horizontal_partition {width: 100%; margin: 17px 0 48px; height: 1px; background-color: #222222;}
.deposit_charge .price h4 { font-family: Pretendard; font-size: 20px; font-weight: 600; line-height: 20px; letter-spacing: -0.04em; color: #222222; margin: 0 0 16px;}
.deposit_charge .price .deposit_charge_notice { font-family: Pretendard; font-size: 15px; font-weight: 300; line-height: 15px; letter-spacing: -0.04em; }
.deposit_charge .charge_section {width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; gap: 32px;}
.deposit_charge .charge_button_container { width: 680px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; }
.deposit_charge .charge_button_container .charge_button_wrapper { width:100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 16px; }
.deposit_charge .charge_button_container .charge_button_wrapper .charge_price_button { width: 158px; height: 76px; padding: 16px 24px; border-radius: 12px; background-color: #EFF3F9; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; box-sizing: border-box; color: #717B8A; font-family: Pretendard; font-size: 20px;font-weight: 500;line-height: 20px;letter-spacing: -0.04em; gap: 8px;}
/* .deposit_charge .charge_button_container .charge_button_wrapper .charge_price_button label { width: 110px; height: 44px; display: flex; flex-direction: column; justify-content: flex-start; } */
.deposit_charge .charge_button_container .charge_button_wrapper .charge_price_button strong {font-family: Montserrat;font-size: 20px;font-weight: 700;line-height: 20px;}
.deposit_charge .charge_button_container .charge_button_wrapper .charge_price_button .price_wrapper {width: 100%; display: flex; flex-direction: row; justify-content: flex-end;}
.deposit_charge .charge_button_container .charge_button_wrapper .charge_price_button span.txt {font-family: Pretendard;font-size: 16px;font-weight: 300;line-height: 16px;letter-spacing: -0.04em; color: #717B8A;}

.deposit_purchase_section { width: 488px; display: flex; flex-direction: column; justify-content: flex-start;}
.deposit_purchase_section .purchase_section_wrapper { display: flex; flex-direction: row; justify-content: space-between; align-items: center;margin: 0 0 16px;}
.deposit_purchase_section .purchase_section_wrapper .btn_round{border-radius: 16px;border: 1px solid #D8DDE9;display: flex !important; flex-direction: row; align-items: center; gap: 8px; border-radius: 16px;border: 1px solid #D8DDE9;padding: 8px 16px;font-weight: 300;font-size:14px;}
.deposit_purchase_section .purchase_section_wrapper .ico_refresh{width: 16px; height: 16px; background:url(../imgs/btn/refresh.png) 50% no-repeat;}
.deposit_purchase_section .purchase_section_wrapper .purchase_section_title { font-family: Pretendard; font-size: 20px; font-weight: 600; line-height: 20px; letter-spacing: -0.04em; color: #222222; }
.deposit_purchase_section .purchase_section_wrapper .input_wrapper {display: flex; flex-direction: row; justify-content: flex-end; align-items: center; font-family: Montserrat; font-size: 15px; font-weight: 500; line-height: 15px; color: #222222;}
.deposit_purchase_section .purchase_section_wrapper .input_wrapper input { border: none; text-align: right; font-family: Montserrat; font-size: 15px; font-weight: 700; line-height: 15px; color: #222222; height: 15px;}
.deposit_purchase_section .purchase_section_wrapper .input_wrapper.purchase_price {font-size: 24px ; }
.deposit_purchase_section .purchase_section_wrapper .input_wrapper.purchase_price input {font-size: 24px !important; height: 36px;}
.deposit_purchase_section .purchase_section_wrapper .amount {font-family: Montserrat; font-size: 15px; font-weight: 500; line-height: 15px; color: #222222;}
.deposit_purchase_section .purchase_section_wrapper .amount .amount_price {font-family: Montserrat; font-size: 15px; font-weight: 700; line-height: 15px; color: #222222;}
.deposit_purchase_section .purchase_amount_container { padding: 24px; border: 1px solid #AEB7C6; border-radius: 12px;}
.deposit_purchase_section .purchase_amount_container .purchase_amount_title { font-family: Pretendard; font-size: 15px; font-weight: 300; line-height: 15px; letter-spacing: -0.04em; }
.deposit_purchase_section .purchase_amount_container .horizontal_partiion {height: 1px; background-color: #717B8A; margin: 8px 0 24px;}
.deposit_purchase_section .purchase_amount_container .btn_deposit_purchase {margin: 8px 0 0; padding: 16px 0; width: 100%; box-sizing: border-borx; text-align: center; border-radius: 12px; background-color: #0072BC;}
.deposit_purchase_section .purchase_amount_container .btn_deposit_purchase{ font-family: Pretendard; font-size: 16px; font-weight: 600; line-height: 16px; letter-spacing: -0.04em; color: #ffffff;}
/* .excel_download_button { width: 108px; float:right; padding: 11px 18px; box-sizing: border-box; gap: 8px; border-radius: 4px; background-color: #535E78; color: #ffffff; font-family: Noto Sans CJK KR;font-size: 13px;font-weight: 700;line-height: 13px;letter-spacing: -0.04em;} */
.excel_download_button {float:right; padding: 11px 18px; box-sizing: border-box; gap: 8px; border-radius: 4px; background-color: #535E78; color: #ffffff; font-family: Noto Sans CJK KR;font-size: 13px;font-weight: 700;line-height: 13px;letter-spacing: -0.04em;}

.notice_container {margin: 48px 0; border-top: 1px solid #E1E3E9; border-bottom: 1px solid #E1E3E9; width: 100%; padding: 24px 0;}
.notice_container .notice_title {font-family: Pretendard;font-size: 15px;font-weight: 300;line-height: 15px;letter-spacing: -0.04em;}
.notice_container .notice_list {margin-top: 16px; padding-left: 14px;}
.notice_container .notice_list .gap {margin: 8px 0 0 ;}
.notice_container .notice_list .notice_content { font-family: Pretendard; font-size: 14px;font-weight: 300;line-height: 14px;letter-spacing: -0.04em;color: #AEB7C6; list-style-type: disc; }

.section_top {width: 100%; border-bottom: 1px solid #E1E3E9; margin: 28px 0; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;}
.section_top .current_section { width: 120px; height: 44px; display: flex; flex-direction: row; justify-content: center; align-items: center; border-bottom: 4px solid #0072BC; cursor: pointer; box-sizing: border-box;}
.section_top .current_section .current_section_txt { font-size: 16px; color: #0072BC; }
.section_top .not_current_section { width: 120px; height: 44px; display: flex; flex-direction: row; justify-content: center; align-items: center; cursor: pointer;  box-sizing: border-box;}
.section_top .not_current_section .not_current_section_txt { font-size: 16px; color: #AEB7C6; margin: 0;}

.section_tab { width: 1100px; height: 55px; padding: 20px 40px; margin-bottom: 50px; border-radius: 12px; background-color: #f7f7f7; box-sizing: border-box; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; cursor: pointer;}
.section_tab .vertical_partition { width: 1px; height: 15px; margin: 0 16px; background-color: #D8DDE9; }
.section_tab div { font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.04em; color: #979797; }
.section_tab .current_tab { font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.04em; color: #1293E7; }

.contract_service_title { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 50px; }
.contract_service_title .title_mark { width: 4px; height: 20px; background-color: #1293E7; margin-right: 8px; }
.contract_service_title span { font-family: Noto Sans CJK KR; font-size: 20px; font-weight: 500; line-height: 20px; letter-spacing: -0.04em; color: #1293E7; }
.contract_service_content > span { font-family: Noto Sans CJK KR; font-size: 16px; font-weight: 500; line-height: 16px; letter-spacing: -0.04em; }
.contract_service_content .contract_application_table { margin-top: 16px; }
.contract_service_content .contract_application_table th { width: 208px; }
.contract_service_content .contract_application_table select { padding: 0; }

.agreebox {overflow:hidden;}
.agreebox dl {position:relative; padding-top: 5px;}
.agreebox dd {height:auto;overflow:hidden;}
.agreebox dd.box_guide {padding:25px 2px 25px 30px;border: 1px solid #E1E1E3; border-radius: 12px; margin-top: 30px;}
.agreebox dd.box_guide > div {height:150px;padding-right:20px;overflow-y:auto;}
.agreebox dd.agree_check {margin:0;padding:0;border:none 0;border-radius:0;position:absolute;top:5px;left:0;}
.agreebox dd.box_guide > div::-webkit-scrollbar {width:6px;}
.agreebox dd.box_guide > div::-webkit-scrollbar-thumb {background-color:#e0e0e0;border-radius:3px;}
.agreebox dd.box_guide > div::-webkit-scrollbar-track {background-color:#f9f9f9;}

.section_caution { width: 100%; padding: 24px 64px; background-color: #F7F7F7; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-radius: 12px;box-sizing: border-box;}
.section_caution .caution_title {display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; width: 80px; font-family: Noto Sans CJK KR; font-size: 20px; font-weight: 500; line-height: 24px; letter-spacing: -0.04em; }
.section_caution .vertical_partition { width: 1px; height: 73px; background-color: #E1E3E9; margin: 0 24px; }
.section_caution .caution_content { display: flex; flex-direction: column; gap: 14px;}
.section_caution .caution_content span{ font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.04em; }
.must {color: #1293E7;}
.recent_contract_section { margin-top: 50px; }
.recent_contract_section .recent_contract_title { font-family: Noto Sans CJK KR; font-size: 16px; font-weight: 500; line-height: 16px; letter-spacing: -0.04em; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 8px; margin-bottom: 16px;}
.recent_contract_section .recent_contract_title .recent_contract_notice { font-family: Noto Sans CJK KR; font-size: 14px; font-weight: 400; line-height: 14px; letter-spacing: -0.04em; color: #979797;	}
.recent_contract_section .recent_contract_table { border-top: 1px solid #000000; }
.recent_contract_section .recent_contract_table thead th {text-align: center; padding: 18px 16px; font-family: Noto Sans CJK KR; font-size: 15px; font-weight: 700; line-height: 15px; letter-spacing: -0.04em; }
.recent_contract_section .recent_contract_table tbody td {text-align: center; padding: 18px 16px; font-family: Noto Sans CJK KR; font-size: 14px; font-weight: 400; line-height: 14px; letter-spacing: -0.04em; }

.withdrawal_table th {width: 208px;}

/* 주문,클레임 관련 */
.titlebox {height:25px;padding-bottom:28px;border-bottom:solid 2px #000;}
.titlebox h3 {margin-bottom:0;display:inline-block;vertical-align:top;}
.titlebox dl {display:inline-block;vertical-align:bottom;line-height:20px;overflow:hidden;}
.titlebox dl dt,
.titlebox dl dd {float:left;color:#000;}
.titlebox dl dt,
.titlebox dl dd.line {padding-left:20px;position:relative;}
.titlebox dl dt.line:before,
.titlebox dl dd.line:before  {content:'';width:1px;height:18px;background-color:#e8e8e8;position:absolute;left:0;top:1px;}
.titlebox dl dd {font-size:18px;margin-left:8px;padding-right:20px;}
.titlebox dl dd.delivery {font-size:14px;margin-left:0;}
.section .claimbtn {position:absolute;right:0;top:-3px;border-radius:5px;height:35px;line-height:35px;text-align:center;padding:0 15px;color:#fff;background-color:#ff5a63;font-weight:700;font-size:14px;}
.orderdetailpage .table_ver {border-color:#ccc}
.orderdetailpage .table_ver.orderlist {border-bottom:solid 1px #e8e8e8;}
.orderdetailpage .table_ver.orderlist tbody {border:none 0;}
.orderdetailpage .table_ver.orderlist tbody td {padding:20px 0;border-bottom:none 0;color:#000;line-height:24px;border-top:solid 1px #e8e8e8;}
.orderdetailpage .table_ver.orderlist tbody tr:first-child > td {padding-top:20px;border-top:none 0;}
.orderdetailpage .table_ver.orderlist tbody tr:last-child > td {padding-bottom:20px;}
.orderdetailpage .table_ver.orderlist .gift td {padding-top:0;border-top:none 0;}
.orderdetailpage .table_ver.orderlist .gift .img_box img {width:80px;border-radius:3px;}

.orderdetailpage .table_ver.orderlist tbody .setList {text-align:left;}
.orderdetailpage .table_ver.orderlist tbody .setList tbody td {padding:0;border:none 0;padding-top:10px;}
.orderdetailpage .table_ver.orderlist tbody .setList tbody tr:first-child td {padding-top:0;}

.table_ver.orderlist.sortingType01 tbody td {padding:0;border-bottom:none 0;color:#000;line-height:24px;}
.table_ver.orderlist.sortingType01 tbody td .etcBox{margin-top:30px;}
.table_ver.orderlist.sortingType01 tbody tr:first-child > td {padding-top:0;border-top:none 0;}
.table_ver.orderlist.sortingType01 .amount_box{text-align: center;margin-top: 30px;}

.reorderThead {padding: 16px 0;}
.reorderCheckbox{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 18px;}
.reorderCheckbox.check {padding-left: 10px;} 
.reorderHead{font-size: 15px; font-weight: 700 !important; }

.finishpayinfo {border-top:solid 1px #ccc;border-bottom:solid 1px #e8e8e8;}
.finishpayinfo ul {overflow:hidden;position:relative;display:table;table-layout:fixed;width:100%;}
.finishpayinfo ul li {display:table-cell;vertical-align:top;border-left:solid 1px #e8e8e8;}
.finishpayinfo ul li dl {overflow:hidden;display:table;table-layout:fixed;width:100%;}
.finishpayinfo ul li dt {display:table-cell;vertical-align:top;color:#000;line-height:24px;padding-left:20px;}
.finishpayinfo ul li dd {display:table-cell;vertical-align:top;text-align:right;font-size:16px;color:#000;line-height:24px;padding-right:20px;}
.finishpayinfo ul li .sum {padding:25px 0;height:24px;background-color:#f0f9fd;border-bottom:solid 1px #e8e8e8;font-size:16px;}
.finishpayinfo ul li .sum dd strong {font-size:24px;}
.finishpayinfo ul li .sum dd .won {display:inline-block;vertical-align:top;}
.finishpayinfo ul li .detail {padding-top:11px;padding-bottom:11px;}
.finishpayinfo ul li .detail dt,
.finishpayinfo ul li .detail dd {color:#666;line-height:32px;}
.finishpayinfo ul li.total .sum dd {color:#ff5a63;}
.finishpayinfo.payrefund li.total .sum dd {color:#000;}
.finishpayinfo.payrefund li.refund .sum dd {color:#ff5a63;}
.orderdetailpage .reasonbox {border-top:solid 1px #ccc;border-bottom:solid 1px #e8e8e8;background-color:#fbfbfb;padding:30px 20px;overflow:hidden;}
.orderdetailpage .reasonbox select {display:block;float:left;width:300px;}
.orderdetailpage .reasonbox textarea {display:block;float:right;width:750px;}
.refund_box{overflow:hidden;position:relative;display:table;width:100%;table-layout:fixed;}
.refund_box:before {content:'';display:block;width:100%;height:100%;box-sizing:border-box;border:solid 1px #e8e8e8;position:absolute;left:0;top:0;}
.refund_box:after {content:'';width:40px;height:100%;background-color:#fff;border:solid 1px #e8e8e8;border-top-width:0;border-bottom-width:0;position:absolute;left:529px;top:0}
.refund_box > div {display:table-cell;position:relative;vertical-align:top;}
.refund_box .refund_table_left{width:530px;}
.refund_box .refund_table_left:before,
.refund_box .refund_table_right:before {content:'';width:200px;height:calc(100% - 2px);background-color:#f7f7f7;position:absolute;left:1px;top:1px;z-index:0;}
.refund_box .blank {width:40px;}
.refund_box .refund_table_right{width:530px;}
.refund_box .table_hor_calc {width:100%;table-layout:fixed;position:Relative;z-index:1;}
.refund_box .table_hor_calc th {text-align:left;font-weight:400;color:#666;line-height:17px;padding:18px 22px}
.refund_box .table_hor_calc td {text-align:right;font-weight:400;color:#000;line-height:17px;padding:18px 22px}
.refund_box .table_hor_calc td .roboto {font-size:16px}
.refund_box .table_hor_calc td .won {display:inline-block;vertical-align:Top;}
.orderdetailpage .result_txt {text-align:center;font-size:18px;color:#000;line-height:19px;padding:182px 0 75px;background:url(../imgs/mypage/icon_result.png) center 91px no-repeat;}

/* 약가인하 보상 */
.drugPriceSection .searchResult{ font-size: 14px; line-height: 100%; color: #979797;}

/* 관심상품 */
.wish_tit{padding:27px 0 30px;position:relative;border-bottom:1px solid #e8e8e8;}
.wish_tit>span{position:absolute;right:0;top:20px;}
.wish_tit button {display:inline-block;vertical-align:top;width:80px;height:35px;border-radius:5px;background-color:#059ad9;text-align:center;color:#fff;margin-left:6px;}
.wish_tit .bor {background-color:#fff;border:solid 1px #000;color:#000;}

/* 1:1문의 */
.inquiryDetail {border-top:solid 1px #000;border-bottom:solid 1px #e8e8e8}
.inquiryDetail dt {padding:26px 100px 26px 20px;line-height:24px;position:relative;}
.inquiryDetail dt span,
.inquiryDetail dt strong {display:inline-block;vertical-align:top;color:#000;}
.inquiryDetail dt .q {font-size:22px;margin-right:20px;}
.inquiryDetail dt .subject {font-size:18px;font-weight:700;}
.inquiryDetail dt .date {color:#979797;position:absolute;right:20px;top:50%;margin-top:-12px;}
.inquiryDetail dd {border-top:solid 1px #e8e8e8;padding:50px 20px;}
.inquiryDetail dd > div {color:#000;line-height:24px;}
.inquiryDetail dd .acont {margin-left:11px;background-color:#f0f0f0;border-radius:10px;border-top-left-radius:0;margin-top:50px;padding:25px 35px;position:relative;}
.inquiryDetail dd .acont:before {content:'';width:11px;height:11px;position:absolute;left:-11px;top:0;border-top:11px solid #f0f0f0;border-bottom:11px solid none;border-right: 11px solid transparent;border-left: 11px solid  transparent;}
.inquiryDetail dd .writer {margin-top:12px;}
.formtablebox .w290px {width:290px;}

/* 조회 */
.dateselect {position:absolute;right:0;top:0;}
.dateselect select {width:auto;min-width:80px;color:#000;}
.dateselect select+select{margin-left:6px;}

/* 본인확인 */
.sec_box {background-color:#f7f7f7;border-radius:10px;width:100%;padding:65px 0 70px;}
.sec_box p {color:#000;line-height:24px;text-align:center;}
.sec_box .form {width:270px;margin:35px auto 0;position:relative;padding-right:70px;}
.sec_box .form input{display:block;margin:0;height:35px;line-height:35px;color:#000;}
.sec_box .form button{display:block;width:60px;height:35px;border-radius:5px;text-align:Center;color:#fff;font-weight:700;background-color:#535e78;position:absolute;right:0;top:0}

/* 회원수정.탈퇴 */
.menutab {overflow:hidden;}
.menutab li {float:left;width:50%;}
.menutab li a {display:block;text-align:center;border-bottom:solid 2px #059ad9;background-color:#e8e8e8;font-size:18px;line-height:18px;padding:20px 0;border-top-left-radius:10px;border-top-right-radius:10px;}
.menutab li.active a {border:solid 2px #059ad9;border-bottom:none 0;background-color:#fff;color:#000;font-weight:700;}
.secession_info {background-color:#f7f7f7;border-radius:10px;padding:41px 40px 33px;margin-top:45px}
.secession_info h4 {font-size:18px;font-weight:400;margin:0;line-height:19px;}
.secession_info ul {margin-top:19px;}
.secession_info li {color:#000;line-height:28px;padding-left:16px;position:relative;}
.secession_info li:before {content:'';width:3px;height:3px;background-color:#ccc;position:absolute;left:0;top:12px;}
.secession_survay {margin-top:60px;}
.secession_survay h4 {font-size:18px;font-weight:400;margin:0;line-height:19px;}
.secession_survay ul {border-top:solid 1px #ccc;margin-top:18px;padding:10px 20px;}
.secession_survay ul li {margin-top:10px;color:#000;height:16px;padding:12px 0;}
.secession_survay ul li input[type=checkbox].checkbox+.label::before {margin-right:20px;}
.secession_survay ul li.etc {position:relative;}
.secession_survay ul li textarea {position:absolute;right:0;top:0;width:970px;}
.secession_survay .checkconfirm {text-align:center;margin-top:50px;}
.secession_survay .checkconfirm .label {font-size:16px;color:#000;font-weight:bold;}


/* Button Size */
.button.large{height:29px;background-position:left -30px;}
.button.xLarge{height:35px;background-position:left -65px;}
.button.small{height:18px;background-position:left -107px;}
.button a,
.button button,
.button input{height:23px;padding:0 10px 0 8px;font-size:12px;line-height:23px;background-position:right top}
.button.large a,
.button.large button,
.button.large input{height:29px;padding:0 15px 0 13px; font-size:12px;line-height:29px;background-position:right -30px;font-weight:bold}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input{height:35px;padding:0 10px 0 8px;font-size:14px;line-height:35px;background-position:right -65px;font-weight:bold}
.button.small a,
.button.small button,
.button.small input{height:18px;padding:2px 6px 0 4px;font-size:11px;line-height:18px;background-position:right -107px}
.button.border {border: 1px solid black; border-radius: 2px; }

/*left*/
.button.aside{height:29px;background-position:left -30px}
.button.aside a,
.button.aside button,
.button.aside input{height:29px;padding:0 30px;font-size:12px;line-height:29px;background-position:right -30px;font-weight:bold}



.pay_method_title { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 0 0 24px;}
.pay_method_title .bigtitle {font-family: Pretendard; font-size: 20px; font-weight: 600; line-height: 20px; letter-spacing: -0.04em; }
.pay_method_title .savepay .label{font-family: Pretendard; font-size: 14px; font-weight: 300; line-height: 14px; letter-spacing: -0.04em; }
.payment_select_box {border-radius:10px;}
.payment_select_box .paymethod {overflow:hidden;}
.payment_select_box .paymethod li {float:left;width:228px;height:76px;margin-left:10px;margin-bottom:10px;}
.payment_select_box .paymethod li label.radio {display:block;width:228px;height:76px;margin:0;position:relative;}
.payment_select_box .paymethod li input[type=radio] {width:228px;height:76px;margin:0;border:none 0;line-height:0;}
.payment_select_box .paymethod li input[type=radio].radio+.label {color:#000;display:block;line-height:15px;padding: 33px 0 0 40px ;height:33px;text-align:center;}
.payment_select_box .paymethod li input[type=radio].radio+.label::before {content:'';position:absolute;left:0;top:0;width:228px;height:76px;border-radius:12px;border:solid 1px #e8e8e8;margin:0;background-color:rgba(255,255,255,0);}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label {color:#0088c4;}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label:before {width:224px;height:76px;border:solid 2px #059ad9;background:none;}
.payment_select_box .paymethod li input[type=radio].radio+.label::after {content:'';width:40px;height:40px;position:absolute;left:52px;top:20px;background-position:center 0;background-repeat:no-repeat;}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label::after {background-position:center bottom}
.payment_select_box .paymethod li label.litecard input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_litecard.png)}
.payment_select_box .paymethod li label.card input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_creditcard.png)}
.payment_select_box .paymethod li label.payco input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_payco.png)}
.payment_select_box .paymethod li label.virtual input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_virtual.png)}
.payment_select_box .paymethod li label.naverpay input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_naverpay.png)}
.payment_select_box .paymethod li label.kakaopay input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_kakaopay.png)}
.payment_select_box .paymethod li label.samsungpay input[type=radio].radio+.label::after {background-image:url(/images/pay_icon/icon_samsungpay.png)}

.deposit_finish_section { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; padding: 80px 0; box-sizing: border-box;}
.deposit_finish_section .deposit_finish_title { margin: 16px 0 40px; font-family: Pretendard; font-size: 20px; font-weight: 600; line-height: 20px; letter-spacing: -0.04em; color: #222; }
.deposit_finish_section table.tb_deposit_finish { padding: 0 24px; margin-bottom: 40px;} 
.deposit_finish_section table.tb_deposit_finish td { width: 500px;}
.deposit_finish_section .go_to_deposit { display: flex; flex-direction: row; justify-content: center; align-items: center; height: 56px; padding: 16px 16px 16px 24px; border-radius: 28px; border: 1px solid #D8DDE9; box-sizing: border-box; cursor: pointer;} 
