@charset "utf-8";
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

/* 장바구니부터 주문완료까지 해당하는 CSS */
#container {margin:0;}
#container:before {content:'';position:absolute;left:50%;top:0;z-index:0;width:1920px;height:247px;margin-left:-960px;background:url(../imgs/order/bg_order.png) center top no-repeat;}
.warn:before{display:inline-block; width:16px; height:14px; margin-right:5px; background:url(../imgs/icon/ico_warn.png) 0 0 no-repeat; content:''; }

.none_cart_in {text-align:center;font-size:22px;color:#979797;font-weight:500;margin:240px 0;padding-top:78px;background:url(../imgs/global/icon_none_cart.png) center 0 no-repeat;}

/* 상단 단계별 영역 */
.order_titlebox {height:31px;padding:49px 0 48px;overflow:hidden;position:relative;z-index:1;}
.order_titlebox h2{float:left;font-size:30px;line-height:31px;font-weight:700;color:#fff;}
.order_process {float:right;overflow:hidden;}
.order_process li {float:left;color:#fff;font-size:16px;line-height:31px;padding-left:48px;}
.order_process li span {display:block;opacity:0.25;}
.order_process li.on span {opacity:1;}
.order_process li.step2 {background:url(../imgs/order/order_process1.png) 8px top no-repeat;}
.order_process li.step3 {background:url(../imgs/order/order_process2.png) 8px top no-repeat;}
.order_process li.on.step2,
.order_process li.on.step3 {background:url(../imgs/order/order_process_on.png) 8px top no-repeat;}

/* 주문테이블 */
.order_ver{border-top:1px solid #cbcbcb}
.order_ver .noIncrease{font-size:11px}
.order_ver thead{background:#f5f5f5; border-bottom:solid 1px #ccd1d9}
.order_ver thead th{text-align:center; padding:20px 10px;color:#000 }
.order_ver tbody th{text-align:center; padding:20px 10px;color:#000; background:#f5f5f5;  border-bottom:solid 1px #ccd1d9; }
.order_ver tbody td{text-align:center;padding:15px 0; border-bottom:solid 1px #ccd1d9;}
.order_ver tbody td.no_cart{padding:120px 0;}
.order_ver tbody td.no_cart div{padding-bottom:40px;}
.order_ver tbody td .check .checkbox {margin:0;}
.order_ver tbody td .check input[type=checkbox].checkbox+.label::before {margin:0;}
.order_ver tbody td .btnWish {display:block;width:17px;height:16px;text-indent:-999em;margin:10px auto 0;background:url(../imgs/global/bg_wishbox.png) left bottom no-repeat;}
.order_ver tbody td .btnWish.active {background-position:left top;}
.order_ver tbody td .btnDelete {display:block;margin:0 auto;width:49px;height:32px;border-radius:16px;border:solid 1px #ddd;position:Relative;text-indent:-999em;position:relative;}
.order_ver tbody td .btnDelete:before,
.order_ver tbody td .btnDelete:after {content:'';background-color:#9e9e9e;position:absolute;left:50%;top:50%;transform:rotate(-45deg)}
.order_ver tbody td .btnDelete:before {width:16px;height:2px;margin-left:-8px;margin-top:-1px;}
.order_ver tbody td .btnDelete:after {width:2px;height:16px;margin-left:-1px;margin-top:-8px;}
.order_ver td.img_box {vertical-align:top;}
.order_ver td.img_box a,
.order_ver td.img_box a .img {display:block;margin:0 auto;width:80px;}
.order_ver td.img_box a .img {width:78px;height:78px;border-radius:5px;border:solid 1px #e8e8e8;}
.order_ver td.product{text-align:left;padding:15px 10px;}
.order_ver .info_box .name {display:block;font-size:16px;color:#000;line-height:24px;}
.order_ver .info_box ul {margin-top:13px;}
.order_ver .info_box li {line-height:20px;color:#979797;padding-left:10px;position:relative;}
.order_ver .info_box li:before {content:'·';position:absolute;left:0;top:0;}
.order_ver .num_nav_box {position:relative;width:54px;height:30px;margin:0 auto;padding:0 29px;border:solid 1px #2a2727;border-radius:15px;}
.order_ver .num_nav_box .num_nav a {position:absolute;top:0;width:29px;height:30px;text-indent:-999em;}
.order_ver .num_nav_box .num_nav a:before,
.order_ver .num_nav_box .num_nav a:after {content:'';position:absolute;background-color:#2a2727;}
.order_ver .num_nav_box .list_cnt {display:block;width:52px;height:30px;font-size:16px;color:#000;line-height:29px;border-radius:0;margin:0;padding:0;text-align:center;border:solid 1px #2a2727;border-top-width:0;border-bottom-width:0;}
.order_ver .num_nav_box .num_nav .dn {left:0;}
.order_ver .num_nav_box .num_nav .dn:before {width:9px;height:1px;right:8px;top:14px}
.order_ver .num_nav_box .num_nav .up {right:0;}
.order_ver .num_nav_box .num_nav .up:before {width:9px;height:1px;left:8px;top:14px}
.order_ver .num_nav_box .num_nav .up:after {width:1px;height:9px;left:12px;top:10px}
.order_ver .num_limit {text-align:center;font-size:13px;color:#000;margin-top:11px;}
.order_ver .order_limit {color:#2a2727;line-height:18px;}
.order_ver .order_limit .state {height:20px;line-height:20px;color:#059ad9;}
.order_ver .order_limit .state:before {content:'';display:inline-block;vertical-align:top;width:20px;height:19px;background:url(../imgs/icon/icon_possible.png) left top no-repeat;margin-right:5px;}
.order_ver .order_limit .state:after {content:'';clear:both;display:block;margin-bottom:5px;}
.order_ver .order_limit .state.red:before {background:url(../imgs/icon/icon_impossible.png) left top no-repeat;}
.order_ver td.price{text-align:center;}
.order_ver td.price>.marketPrice {display:block; color:#999; text-decoration:line-through; font-size:18px;}
.order_ver td.price i{font-size:14px;}
.order_ver td.price>.price {display:block;color:#000;font-size:14px;line-height:24px;}
.order_ver td.price>.price strong{font-size:22px;}
.order_ver td.price>.price .sale {font-weight:bold;color:#ca1818;padding-left:5px;}
.order_ver td.count {color:#2a2727;}
/* .delivery_total {position:relative;height:50px;padding:0 20px;border-top:solid 1px #ccc;border-bottom:solid 1px #eaeaea;text-align:right;color:#000;line-height:49px;margin-top:20px;} */
.delivery_total {position:relative;height:50px;padding:0 20px;border-top:solid 1px #ccc;border-bottom:solid 1px #eaeaea;text-align:right;color:#000;line-height:49px;}
.delivery_total .dtotal {padding-left:20px;}
.delivery_total .delivery {position:absolute;left:38px;top:0;padding-left:22px;background:url(../imgs/icon/ico_clock.png) left center no-repeat;}

/* 장바구니 */
.cartresultprice_wrap {padding-top:250px;position:relative;}
.cartresultprice_wrap:before {content:'';position:absolute;left:50%;top:0;z-index:0;width:1920px;height:119px;margin-left:-960px;background:#e6f5fb;}
.cartresultprice_wrap.fixed .cartresultprice {position: fixed;top:0;left: 50%;transform: translate(-50%, 105px);}
.cartresultprice {position:absolute;width:1200px;left:0;top:67px;z-index:1;border-radius:10px;border:solid 1px #059ad9;background-color:#fff;overflow:hidden;padding:34px 0;}
.cartresultprice:before {content:'';width:100%;height:4px;background-color:#059ad9;position:absolute;left:0;top:0;}
.cartresultprice:after {content:'';clear:both;display:block;}
.cartresultprice .pricebox {float:left;width:676px;min-height:70px;margin-right:30px;padding-left:70px;border-right:solid 1px #e5e5e5;overflow:hidden;}
.cartresultprice .pricebox dl {float:left;width:170px;padding-left:12px;padding-top:13px;position:relative;}
.cartresultprice .pricebox dl dt,
.cartresultprice .pricebox dl dd {text-align:center;color:#000;text-align:center;line-height:16px;}
.cartresultprice .pricebox dl dd {margin-top:5px;line-height:20px;}
.cartresultprice .pricebox dl.order {padding-left:0;}
.cartresultprice .pricebox dl.delivery1 {width:127px;}
.cartresultprice .pricebox dl.delivery2 {width:119px;}
.cartresultprice .pricebox dl.delivery2 dt {color:#ff5b64;}
.cartresultprice .pricebox dl dd strong {font-size:20px;}
.cartresultprice .pricebox dl.total {width:188px;}
.cartresultprice .pricebox dl.total dt,
.cartresultprice .pricebox dl.total dd {text-align:right;}
.cartresultprice .pricebox dl.total dt {color:#0072bc;font-weight:700;}
.cartresultprice .pricebox dl.total dd {line-height:26px;}
.cartresultprice .pricebox dl.total dd strong {font-size:26px;}
.cartresultprice .pricebox dl.total dd .pay {color:#999;font-size:13px;line-height:20px;}
.cartresultprice .pricebox dl.delivery1:after,
.cartresultprice .pricebox dl.delivery1:before {content:'';background-color:#ccc;position:absolute;}
.cartresultprice .pricebox dl.delivery1:before {width:13px;height:3px;top:34px;left:0;}
.cartresultprice .pricebox dl.delivery1:after {width:3px;height:13px;top:29px;left:5px;}
.cartresultprice .pricebox dl.delivery2:before {content:'';background-color:#ccc;position:absolute;}
.cartresultprice .pricebox dl.delivery2:before {width:13px;height:3px;top:34px;left:0;}
.cartresultprice .pricebox dl.total:after,
.cartresultprice .pricebox dl.total:before {content:'';background-color:#ccc;position:absolute;left:0;width:13px;height:3px;}
.cartresultprice .pricebox dl.total:before {top:31px;}
.cartresultprice .pricebox dl.total:after {top:37px;}
.cartresultprice .buttonbox {float:left;width:340px;padding:5px 0;overflow:hidden;}
.cartresultprice .buttonbox button {display:block;float:left;width:160px;height:60px;box-sizing:border-box;text-align:center;font-size:17px;color:#0072bc;border:solid 1px #0072bc;border-radius:10px;margin-left:10px;}
.cartresultprice .buttonbox button.full {background-color:#0072bc;color:#fff;}
.cartresultprice .buttonbox button.instant {background-color: #FF4949;border:solid 1px #FF4949; color:#fff;}
.cartresultprice .buttonbox button.payu {width: 100%; height: 40px; margin-top: 10px; background-color: #00892F;border:solid 1px #00892F; color:#fff;}

.cartresultprice_wrap .cart_comment {padding-top: 17px; text-align: right; font-size: 14px;color:#999;}

.totalcheck {margin-top:36px;}
.totalcheck .check .label {font-size:18px;color:#222;}
.totalcheck .check input[type=checkbox].checkbox+.label::before {margin-right:10px;margin-top:2px;}
.totalcheck .checkdelete {margin-top:19px;}
.totalcheck .checkdelete .check .label {font-size:14px;color:#666;line-height:16px;}
.totalcheck .checkdelete .check input[type=checkbox].checkbox+.label::before {margin-top:0;}
.totalcheck .checkdelete .btnSelectDelete {line-height: 20px;display: inline-block;vertical-align: middle;margin-left:8px;padding-lefT:13px;position:relative;}
.totalcheck .checkdelete .btnSelectDelete:before {content:'';width:1px;height:13px;background-color:#ddd;position:absolute;left:0;top:4px}

.roundbox {border-radius:10px;overflow:hidden;border:solid 1px #eaeaea;margin-top:20px;}
.roundbox .order_box + .order_box {margin-top:25px;}
.roundbox .order_box dt {height:60px;padding-left:12px;position:relative;}
.roundbox .order_box dt .tit_detail {font-size:18px;line-height:24px;color:#222;padding-top:22px;}
.roundbox .order_box dt .check {margin-right:16px;margin-top:24px;}
.roundbox .order_box dt .check .checkbox {margin:0;}
.roundbox .order_box dt input[type=checkbox].checkbox+.label::before {margin-right:10px;}
.roundbox .order_box dt .tit_detail .name {font-size:22px;}
.roundbox .order_box dt .deliverytype {position:absolute;right:19px;bottom:0;height:44px;}
.roundbox .order_box dt .deliverytype > span {display:inline-block;vertical-align:top;width:150px;height:44px;background-color:#0cabee;text-align:center;color:#fff;font-size:18px;font-weight:700;line-height:46px;border-top-left-radius:10px;border-top-right-radius:10px;}
.roundbox .order_box dt .deliverytype > span.direct {background-color:#ff5a64;}
.roundbox .order_box dd {border-top:solid 2px #000;}
.roundbox .order_box dd .order_ver {margin-top:0;border-top:none 0;table-layout:fixed;}
.roundbox .order_box dd .category {background-color:#e8eafb;border-top:solid 2px #000;margin-top:-2px;padding:17px 20px 17px 38px;}
.roundbox .order_box dd .category ul {overflow:hidden;}
.roundbox .order_box dd .category li {float:left;width:50%;color:#000;line-height:16px;}
.roundbox .order_box dd .category li.delivery {float:right;text-align:right;color:#616269;}
.roundbox .order_box dd .section {background-color:#000;margin-top:-2px;font-size:2px;line-height:2px;}
/* .roundbox .order_box dd .productrow {padding:24px 0 26px;} */
.roundbox .order_box dd .productrow th,
.roundbox .order_box dd .productrow td {border-bottom:none 0;border-top:solid 1px #eaeaea}
.roundbox .order_box dd .productrow tr:first-child th,
.roundbox .order_box dd .productrow tr:first-child td {border:none 0;}
.roundbox .order_box dd .productrow .setList {text-align:left;}
.roundbox .order_box dd .productrow .setList tbody td {padding:0;border:none 0;padding-top:15px;}
.roundbox .order_box dd .productrow .setList tbody tr:first-child td {padding-top:0;}
.roundbox .order_box dd .productrow .gift td {border:none 0;padding-top:0;}
.roundbox .order_box dd .productrow .gift .img_box img {width:80px;border-radius:3px;}
.roundbox .order_box dd .productrow .gift .product {color:#000;}
.roundbox .pricebox {min-height:30px;padding:34px 0;background-color:#e6f5fb;border-top:solid 1px #eaeaea;margin-top:-1px;text-align:center;}
.roundbox .pricebox dl, .roundbox .pricebox dt, .roundbox .pricebox dd, .roundbox .pricebox .icon {display:inline-block;vertical-align:middle;line-height:30px;color:#000;}
.roundbox .pricebox dt {font-size:16px;}
.roundbox .pricebox dd {font-size:16px;}
.roundbox .pricebox dd strong {display:inline-block;vertical-align:middle;font-size:28px;font-weight:700;}
.roundbox .pricebox dd .won {display:inline-block;vertical-align:middle;}
.roundbox .pricebox dl.delivery2 dt {color:#ff5b64;}
.roundbox .pricebox .total dd {color:#059ad9 !important}
.roundbox .pricebox .icon {margin:0 16px;width:28px;height:28px;border-radius:50%;background-color:rgba(153,153,153,0.5);position:relative;text-indent:-999em;}
.roundbox .pricebox .icon:before,
.roundbox .pricebox .icon:after {content:'';background-color:#fff;position:absolute;}
.roundbox .pricebox .icon.plus:before {width:14px;height:2px;left:50%;margin-left:-7px;top:50%;margin-top:-1px;}
.roundbox .pricebox .icon.plus:after {width:2px;height:14px;left:50%;margin-left:-1px;top:50%;margin-top:-7px;}
.roundbox .pricebox .icon.minus:before {width:14px;height:2px;left:50%;margin-left:-7px;top:50%;margin-top:-1px;}
.roundbox .pricebox .icon.equals:before {width:14px;height:2px;left:50%;margin-left:-7px;top:10px;}
.roundbox .pricebox .icon.equals:after {width:14px;height:2px;left:50%;margin-left:-7px;top:16px;}


/* 주문/결제 */
.orderwrap {position:relative;padding-right:350px;margin-top:70px;}
.orderwrap .section {position:relative;margin-top:60px;}
.orderwrap .bigtitle {font-size:24px;font-weight:400;line-height:26px;margin-bottom:28px;}
.orderwrap .bigtitle .state_promotion {display:inline-block;vertical-align:bottom;font-size:12px;font-weight:400;color:#000;margin-left:16px;height:20px;line-height:20px;}
.orderwrap .bigtitle .state_promotion .icons {display:inline-block;vertical-align:bottom;background-color:#fba92d;height:20px;padding:0 5px;color:#fff;border-radius:3px;margin-right:4px;}
.orderwrap .moreview {position:absolute;right:0;top:8px;color:#000;padding-right:13px;}
.orderwrap .moreview:after {content:'';width:5px;height:5px;border:solid 1px #444;border-left-width:0;border-bottom-width:0;transform:rotate(45deg);position:absolute;right:0;top:50%;margin-top:-2px;}
.order_list_box {border-top:solid 1px #ccc;display:none;margin-top:-1px;}
.order_list_box dl {border-bottom:solid 1px #f0f0f0;width:100%;display:table;table-layout:fixed;}
.order_list_box dl dt {display:table-cell;width:143px;vertical-align:middle;color:#000;padding-left:16px;}
.order_list_box dl dd {display:table-cell;vertical-align:middle;color:#000;padding:15px 0;}
.order_list_box dl dd table,
.order_list_box dl dd td {border:none 0;color:#000;}
.order_list_box dl dd td {padding:5px 0;}
.order_list_box dl dd .order_ver .info_box .name {display:inline-block;font-size:14px;}
.order_list_box dl dd .count {display:inline-block;font-size:14px;color:#000;line-height:24px;}
.order_list_box dl dd .price_box {text-align:right;padding-right:20px;color:#000;line-height:18px;}
.order_list_box dl dd .price_box strong {font-size:16px;}
.order_list_box dl dd .price_box .ea {color:#979797;}
.order_list_box dl dd .price_box .ea strong {font-size:14px;}
/*.order_list_box dl dd tr {display:none;}
.order_list_box dl dd tr.totaltr {display:block;}
.order_list_box.active dl dd tr {display:block;}
.order_list_box.active dl dd tr.totaltr {display:none;}*/
.order_list_box.active {display:block;}
.order_list_box.simpleList dl {border-bottom:solid 1px #ccc;}
.order_list_box.simpleList dt {width:207px;background-color:#e8eafb}
.order_list_box.simpleList dd {padding:0;}
.order_list_box.simpleList dd table th {border:none 0;font-weight:normal;text-align:center;padding:16px 0 15px;}
.order_list_box.simpleList dl dd table th,
.order_list_box.simpleList dl dd table td {border-top:solid 1px #ccc;}
.order_list_box.simpleList dl dd table tr:first-child td {border-top:none 0;}
.order_list_box.simpleList dl dd .product {line-height:18px;padding:13px 29px;}
.order_list_box.simpleList dl dd .price_box {text-align:left;padding-right:0;padding-left:10px;}
.order_list_box.simpleList .bgdirect {background-color:#ffd6d8;}
.order_list_box.simpleList .bgdelivery {background-color:#c2eafb;}
.orderwrap .delivery_total {margin-top:0;border-top:none 0;padding:0 10px;min-height:49px;}
.orderwrap .delivery_total .delivery {left:10px;}
.use_money_box {background-color:#e6f5fb;border-radius:10px;padding:24px 20px;}
.use_money_box .group {margin-top:39px;position:relative;}
.use_money_box h3 {font-weight:700;color:#000;font-size:18px;margin:0;margin-bottom:16px;line-height:20px;}
.use_money_box .qbox {display:inline-block;vertical-align:top;position:relative;margin-left:2px;}
.use_money_box .qbox img {cursor:pointer;}
.use_money_box .qbox .hoverbox {display:none;position:absolute;top:30px;left:-20px;background-color:#fff;border:solid 1px #333;z-index:1;font-size:14px;line-height:20px;color:#979797;padding:13px;width:200px;}
.use_money_box .qbox .hoverbox:before {content:'';width:11px;height:6px;background:url(../imgs/order/arrow_qbox.png) left bottom no-repeat;position:absolute;left:23px;top:-6px;}
.use_money_box .qbox:hover .hoverbox {display:block;}
.use_money_box .priceinfo {position:absolute;right:0;top:0;color:#000;}
.use_money_box .priceinfo .price {display:inline-block;vertical-align:top;margin-left:10px;color:#059ad9;}
.use_money_box .priceinfo .price strong {font-size:16px;}
.use_money_box table {border-top:solid 2px #000;width:100%;table-layout:fixed;background-color:#fff;margin:0;}
.use_money_box table th,
.use_money_box table td {text-align:left;font-weight:400;color:#000;line-height:24px;padding:20px;}
.use_money_box table th {}
/* .use_money_box table td .priceinfo {padding-top:3px;}
.use_money_box table td .priceinfo .price {display:inline-block;vertical-align:top;margin-left:10px;color:#059ad9;}
.use_money_box table td .priceinfo .price strong {font-size:16px;} */
.use_money_box table td .useinput {overflow:hidden;}
.use_money_box table td .useinput .box {display:block;float:left;width:160px;padding-right:20px;position:relative;margin-right:25px;}
.use_money_box table td .useinput .box input {border-radius:4px;border:solid 1px #dee1e7;width:160px;height:40px;text-align:right;font-size:16px;color:#000;padding:0 9px;font-family:'Roboto', sans-serif;}
.use_money_box table td .useinput .box:after {content:'원';position:absolute;left:168px;top:12px;color:#979797;}
.use_money_box table td .useinput button {display:block;float:left;height:40px;border-radius:4px;margin-right:10px;border:solid 1px #545e79;color:#545e79;padding:0 14px;}
.use_money_box table td .useinput button.all {background-color:#545e79;color:#fff;}
.use_money_box table td li {border-top:solid 1px #f0f0f0;padding:19px 0 20px;}
.use_money_box table td li:first-child {border-top:none 0;}
.use_money_box table td li .priceinfo2 {line-height:15px;margin-bottom:14px;}
.use_money_box table td li .priceinfo2 .price {display:inline-block;vertical-align:top;margin-left:10px;color:#059ad9;}
.use_money_box table td li .priceinfo2 .price strong {font-size:16px;}
.use_money_box table td li .priceinfo2 .roboto {color:#8086be;}
.use_money_box .noti_list {margin-top:12px;}
.use_money_box .noti_list li {line-height:24px;color:#979797;}
.use_money_box .noti_list li span {color:#000;}
.orderwrap .savepay {position:absolute;right:0;top:8px;}
.orderwrap .savepay label {color:#000;}
.payment_select_box {border-radius:10px;border:solid 1px #f0f0f0;padding:20px 19px;}
.payment_select_box .paymethod {overflow:hidden;margin-left:-10px;}
.payment_select_box .paymethod li {float:left;width:170px;height:80px;margin-left:10px;margin-bottom:10px;}
.payment_select_box .paymethod li label.radio {display:block;width:170px;height:80px;margin:0;position:relative;}
.payment_select_box .paymethod li input[type=radio] {width:170px;height:80px;margin:0;border:none 0;line-height:0;}
.payment_select_box .paymethod li input[type=radio].radio+.label {color:#000;display:block;line-height:15px;padding:47px 0 0;height:33px;text-align:center;}
.payment_select_box .paymethod li input[type=radio].radio+.label::before {content:'';position:absolute;left:0;top:0;width:168px;height:78px;border-radius:5px;border:solid 1px #e8e8e8;margin:0;background-color:rgba(255,255,255,0);}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label {color:#0088c4;}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label:before {width:166px;height:76px;border:solid 2px #059ad9;background:none;}
.payment_select_box .paymethod li input[type=radio].radio+.label::after {content:'';width:92px;height:23px;position:absolute;left:50%;margin-left:-46px;top:16px;background-position:center 0;background-repeat:no-repeat;}
.payment_select_box .paymethod li input[type=radio].radio:checked+.label::after {background-position:center bottom}
.payment_select_box .paymethod li label.litecard input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_litecard.png)}
.payment_select_box .paymethod li label.card input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_card.png)}
.payment_select_box .paymethod li label.payco input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_payco.png)}
.payment_select_box .paymethod li label.virtual input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_virtual.png)}
.payment_select_box .paymethod li label.naverpay input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_naverpay.png)}
.payment_select_box .paymethod li label.kakaopay input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_kakaopay.png)}
.payment_select_box .paymethod li label.samsungpay input[type=radio].radio+.label::after {background-image:url(../imgs/order/icon_samsungpay.png)}

.payment_select_box .lite_card_area {margin-top:35px;position:relative;}
.payment_select_box .lite_card_area h4 {font-size:18px;color:#000;line-height:20px;margin-bottom:18px;}
.payment_select_box .lite_card_area .btnliteCard {position:absolute;right:0;top:0;font-size:13px;color:#000;line-height:28px;width:90px;height:28px;border-radius:3px;text-align:Center;background-color:#f3f3f3;}
.payment_select_box .lite_card_area dl {border-top:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;padding:20px;overflow:hidden;}
.payment_select_box .lite_card_area dt {float:left;width:90px;color:#000;line-height:40px;}
.payment_select_box .lite_card_area dd {float:left;}
.payment_select_box .noti_list {margin-top:12px;}
.payment_select_box .noti_list li {line-height:24px;color:#979797;}

.orderwrap .fixedbox {position:absolute;right:0;top:0;width:300px;z-index:2;}
.orderwrap .fixedbox.fixed {position:fixed;top:0;right:50%;margin-right:-550px;}
.orderwrap .fixedbox.absol {position:absolute;top:auto;bottom:0;}
.orderwrap .fixedbox .bannerbox {margin-bottom:30px;}
.orderwrap .fixedbox .section {margin-top:0;border:solid 1px #ccc;border-radius:10px;padding:0 25px;margin-bottom:20px;background-color:#fff;}
.orderwrap .fixedbox .section:after,
.orderwrap .fixedbox .section:before {content:'';width:1px;height:20px;background-color:#ccc;position:absolute;bottom:-21px;}
.orderwrap .fixedbox .section:before {left:20px;}
.orderwrap .fixedbox .section:after {right:20px;}
.orderwrap .fixedbox .btn_con {margin-top:0;}
.orderwrap .fixedbox .btn_con button {display:block;width:100%;border-radius:10px;background-color:#0072bc;color:#fff;font-size:22px;height:70px;text-align:center;}
.orderwrap .deliveryinfo {padding-bottom:13px;}
.orderwrap .deliveryinfo dl {position:relative;margin-top:13px;}
.orderwrap .deliveryinfo dl dt {width:52px;position:absolute;left:0;top:0;color:#000;line-height:18px;}
.orderwrap .deliveryinfo dl dd {padding-left:52px;color:#979797;line-height:18px;}
.orderwrap .deliveryinfo .editbtn {padding-right:50px;position:relative;}
.orderwrap .deliveryinfo .editbtn a {position:absolute;right:0;top:-5px;text-align:center;width:40px;height:26px;line-height:26px;border-radius:3px;background-color:#f3f3f3;font-size:13px;color:#000;}
.orderwrap .deliveryinfo .editmemo {display:;padding:0;margin-top:15px;}
.orderwrap .deliveryinfo .editmemo textarea {display:;border:solid 1px #dee1e7;border-radius:4px;height:50px;}
.orderwrap .deliveryinfo .editmemo .actbtn {padding:5px 0;text-align:center;}
.orderwrap .deliveryinfo .editmemo .actbtn .inbtn {display:inline-block;vertical-align:top;width:40px;height:26px;border:solid 1px #ddd;border-radius:3px;text-align:center;color:#9f9f9f;}
.orderwrap .deliveryinfo .editmemo .actbtn .inbtn.confirm {border-color:#0072bc;color:#0072bc}
.orderwrap .totalpriceinfo {border-top:solid 1px #e5e5e5;padding:17px 0 19px;}
.orderwrap .totalpriceinfo dl {overflow:hidden;}
.orderwrap .totalpriceinfo dt {float:left;width:95px;text-align:left;line-height:31px;color:#000;}
.orderwrap .totalpriceinfo dd {float:right;width:150px;text-align:right;line-height:31px;color:#000;}
.orderwrap .totalpriceinfo dd strong {font-size:16px;}
.orderwrap .totalpriceinfo .total {border-top:solid 1px #e5e5e5;margin-top:15px;padding-top:20px;}
.orderwrap .totalpriceinfo .total dd {font-size:18px;}
.orderwrap .totalpriceinfo .total dd strong {font-size:28px;}
.orderwrap .noti_list_order ul {padding:14px 0 25px}
.orderwrap .noti_list_order li {line-height:22px;color:#979797;margin-top:10px;}

/* 주문완료 */
.finishtit {font-size:24px;font-weight:400;line-height:26px;margin-top:70px;border-bottom:solid 1px #ccc;padding-bottom:29px;}
.finishbox {margin-top:106px;}
.finishbox .msg {padding-top:127px;font-size:20px;font-weight:700;line-height:24px;text-align:center;background:url(../imgs/order/img_finish.png) center top no-repeat;}
.finishbox .bgbox {margin:23px auto 0;width:610px;background-color:#f7f7f7;border-radius:10px;padding:30px 20px 20px;}
.finishbox .bgbox .ordernum {text-align:center;color:#000;font-size:18px;line-height:19px;}
.finishbox .bgbox .ordernum strong {color:#059ad9;}
.finishbox .deliveryinfo {border-top:solid 2px #000;background-color:#fff;padding:11px 0 29px;margin-top:18px;}
.finishbox .deliveryinfo dl {margin-top:6px;position:relative;min-height:22px;}
.finishbox .deliveryinfo dt {position:absolute;left:35px;top:0;text-align:left;line-height:22px;height:22px;color:#000;}
.finishbox .deliveryinfo dt:after {content:'';width:1px;height:22px;background-color:#e8e8e8;position:absolute;left:132px;top:0;}
.finishbox .deliveryinfo dd {padding:0 20px 0 184px;text-align:left;line-height:22px;color:#000;}
.finishbox .buttonwrap {width:650px;margin:30px auto 120px;}
.finishbox .section {margin-top:50px;position:relative;}
.finishbox .section h4 {font-size:16px;color:#000;line-height:17px;margin:0;padding:0;margin-bottom:18px;}
.finishbox .moreview {position:absolute;right:0;top:8px;color:#000;padding-right:13px;line-height:14px;}
.finishbox .moreview:after {content:'';width:5px;height:5px;border:solid 1px #444;border-left-width:0;border-bottom-width:0;transform:rotate(45deg);position:absolute;right:0;top:50%;margin-top:-3px;}
.finishbox .order_list_box {border-top:solid 2px #000;}
.finishbox .finishpayinfo {border-top:solid 2px #000;border-bottom:solid 1px #f0f0f0;}
.finishbox .finishpayinfo ul {overflow:hidden;position:relative;}
.finishbox .finishpayinfo ul:before,
.finishbox .finishpayinfo ul:after {content:'';width:1px;height:100%;background-color:#f0f0f0;position:absolute;top:0;}
.finishbox .finishpayinfo ul:before {left:364px;}
.finishbox .finishpayinfo ul:after {left:729px;}
.finishbox .finishpayinfo ul li {float:left;width:365px;}
.finishbox .finishpayinfo ul li.total {width:370px;}
.finishbox .finishpayinfo ul li dl {padding:0 20px;overflow:hidden;}
.finishbox .finishpayinfo ul li dt {float:left;width:90px;color:#000;line-height:24px;}
.finishbox .finishpayinfo ul li dd {float:right;width:230px;text-align:right;font-size:16px;color:#000;line-height:24px;}
.finishbox .finishpayinfo ul li .sum dl {padding-top:18px;padding-bottom:18px;}
.finishbox .finishpayinfo ul li .detail {padding-top:28px;padding-bottom:24px;}
.finishbox .finishpayinfo ul li.first .sum dl {padding-left:0;}
.finishbox .finishpayinfo ul li.first .detail dl {padding-left:0;}
.finishbox .finishpayinfo ul li.total .sum dd {color:#0cabef;}
.finishbox .finishpayinfo ul li .sum {height:60px;border-bottom:solid 1px #f0f0f0;}
.finishbox .finishpayinfo ul li .sum dd strong {font-size:20px;}

.charge_button_container { width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
.charge_button_container .charge_button_wrapper { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
